{% load staticfiles i18n %}
{% load util_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <title>Neuro-DB |</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/editedStyle.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <!--<link href="{% static 'css/custom.min.css' %}" rel="stylesheet">-->
    <link href="{% static 'vendors/intro.js/css/introjs.css' %}" rel="stylesheet">
    <link href="{% static 'tellme/feedback.min.css' %}" rel="stylesheet">
    <style>

        #toTop {
            position: fixed;
            bottom: 10px;
            right: 10px;
            cursor: pointer;
            display: none;
        }

        .vertical-right-aligned {
            transform: rotate(-90deg);
            transform-origin: 100% 100%;
            position: fixed;
            right: 0;
            top: 50%;
            z-index: 100;
        }
    </style>
</head>

<body>

    <button type="button" id="feedback-btn" class="btn btn-outline-primary vertical-right-aligned">
        Feedback <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    </button>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <a href="/" class="logo-src" data-step="1" data-intro="Go to home page" >
                    <img src="{% static 'images/logo2.png' %}" width="170" height="40" alt="Neuro-DB-logo" />
                </a>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <input id="reporting_year" hidden value="{{ reporting_year }}">
                <div class="app-header-left">
                    <div class="search-wrapper" data-step="8" data-intro="Search for a specific Indicator">
                        <div class="input-holder" id="searchdiv">
                            <input type="text" class="search-input" id="search-input" onkeyup="search()"
                                placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close" id="close-search"></button>
                    </div>
                    <ul class="header-menu nav">
                        <li class="nav-item">
                            <div data-step="3"
                                data-intro="For technical issue please call Ali Chamseddine or Mohamad Karnib">
                                <a class="user-profile nav-link"
                                    href="mailto:achamseddine@unicef.org;mkarnib@unicef.org?subject=ActivityInfo: Technical issue"
                                    data-toggle="tooltip" data-placement="right" data-html="true" title="For technical issue please call: <br />
                              Ali Chamseddine or Mohamad Karnib">
                                    <img src="{% static 'images/support-1.png' %}" alt=""
                                        style="width: 40px; height: 40px;" />
                                </a>
                            </div>

                        </li>


                    </ul>
                </div>

                <div class="app-header-right">

                  {% block filter %}{% endblock filter %}

                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        {% if request.user.is_authenticated %}
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle"
                                                src="{% static 'images/new_user.png' %}" alt="">
                                            {{ request.user }}
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            {% if request.user.is_staff %}
                                            <a type="button" tabindex="0" class="dropdown-item" href="/admin/">Admin</a>
                                            {% endif %}
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <a href="{% url 'account_logout' %}" type="button" tabindex="0"
                                                class="dropdown-item"><i class="fa fa-sign-out pull-right"></i>Log
                                                Out</a>
                                        </div>

                                        {% else %}

                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="user-profile p-0 btn">
                                            <img width="42" class="rounded-circle"
                                                src="{% static 'images/new_user.png' %}" alt="">
                                            {{ request.user }}
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right dropdown-usermenu">

                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <a href="{% url 'account_login' %}" type="button" tabindex="0"
                                                class="dropdown-item"><i class="fa fa-sign-in pull-right"></i>Login</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>


                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner" data-step="2" data-intro="Navigation menu for other sections">
                        <ul class="vertical-nav-menu">
                           <li class="app-sidebar__heading text-danger">Crisis Response</li>

                              {% get_Crisis_db as databases %}
                              {% for db in databases %}
                           <li id="{{ db.ai_id }}">
                            <a href="{% url 'activityinfo:report_crisis' %}?ai_id={{ db.ai_id }}" class="crisis_link">
                              <b>
                                <i class="metismenu-icon pe-7s-settings"></i>
                              {{ db.name }}
                              </b>
                            </a>
                            </li>
                          {% endfor %}
                           <li id="eco_01">
                            <a href="{% url 'survey:economic_dashboard' %}" class="crisis_link">
                              <b>
                                <i class="metismenu-icon pe-7s-cash"></i>
                                Economic Dashboard
                              </b>
                            </a>
                            </li>
                            <li class="app-sidebar__heading">Activity Info Results</li>
                            <li>
                                <a href="/">
                                    <i class="metismenu-icon pe-7s-menu"></i>
                                    Dashboards
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="databases_list">
                                    {% get_databases as databases %}
                                    {% for db in databases %}
                                    <li id="{{db.ai_id}}">
                                        <a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}"
                                            class="">{{ db.label }}
                                            <i class="metismenu-icon"></i>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li id="hpm">
                                <a href="{% url 'activityinfo:hpm' %}?rep_year={{ reporting_year }}">
                                    <i class="metismenu-icon pe-7s-display2"></i>
                                    HPM Tables
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <i class="metismenu-icon pe-7s-science"></i>
                                    Sector Results
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul id="sector_list">
                                    {% get_databases True as databases %}
                                    {% for db in databases %}
                                    <li id="sector_{{ db.ai_id }}">
                                        <a href="{% url 'activityinfo:report_sector' %}?ai_id={{ db.ai_id }}">{{ db.sector_label }}
                                            <i class="metismenu-icon"></i>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>


                            <li class="app-sidebar__heading">Partnership</li>
                            <li>
                                <a href="{% url 'etools:partnership' %}">
                                    <i class="metismenu-icon pe-7s-user"></i>
                                    Partner Profile</a>
                            </li>
                            <li>
                                <!--   <a href="{% url 'etools:interventions' %}">-->
                                <a href="">
                                    <i class="metismenu-icon pe-7s-link"></i>
                                    Interventions </a>
                            </li>
                            <li>
                                <a href="">
                                    <!--       <a href="{% url 'etools:programmatic_visits_monitoring' %}">-->
                                    <i class="metismenu-icon pe-7s-monitor"></i>
                                    Programmatic Visits  </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="app-main__outer">
                {% block content %}
                {% endblock content %}
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <img src="{% static 'images/unicef-logo.png' %}" height="50"
                                            style="margin-top: -7px;" alt="" />
                                    </li>
                                    <li class="nav-item">
                                        <div class="nav-link">
                                            Neuro-DB 2020
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="app-footer-right">
                                <!--                                    <ul class="nav">-->
                                <!--                                        <li class="nav-item">-->
                                <!--                                            <a href="javascript:void(0);" class="nav-link">-->
                                <!--                                                Footer Link 3-->
                                <!--                                            </a>-->
                                <!--                                        </li>-->
                                <!--                                        <li class="nav-item">-->
                                <!--                                            <a href="javascript:void(0);" class="nav-link">-->
                                <!--                                                <div class="badge badge-success mr-1 ml-0">-->
                                <!--                                                    <small>NEW</small>-->
                                <!--                                                </div>-->
                                <!--                                                Footer Link 4-->
                                <!--                                            </a>-->
                                <!--                                        </li>-->
                                <!--                                    </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <!--<script src="{% static 'js/custom.min.js' %}"></script>-->
    <script src="{% static 'vendors/intro.js/js/intro.js' %}"></script>
    {% include 'tellme/js_inc.html' %}
    {% block extra_js %}{% endblock %}

    <script>
        $(document).on("click", function (event) {
            var $trigger = $(".dropdown");
            if ($trigger !== event.target && !$trigger.has(event.target).length) {
                $(".dropdown-menu-xl").slideUp("fast");
            }
        });

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else { $('#toTop').fadeOut(); }
            });
            $('#toTop').click(function () {
                $("html,body").animate({ scrollTop: 0 }, 600); return false;
            }); $('.print-page').click(function () {
                $('.expanded-all').trigger('click'); $('.read-more').hide(); window.print();
            });
        });

    </script>
    {% block modal %}{% endblock %}
</body>

</html>
