{% extends "base2.html" %}
{% load staticfiles i18n %}
{% block project_title %}{% endblock %}

{% block content %}

<link href="{% static 'css/tail.select-default.css' %}" rel="stylesheet">

<style>
.highcharts-figure, .highcharts-data-table table {
    /*min-width: 500px;
    max-width: 1200px;
    min-height: 400px;
    border: 1px solid #eee;*/
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#level1 .nav {
    flex-wrap: nowrap;
}

.widget-chart .widget-numbers {
    font-weight: bold;
    font-size: 1.7rem;
    display: block;
    line-height: 1;
    margin: 1rem auto;
}

.widget-chart .widget-subheading + .widget-numbers {
    margin-top: 0.5rem;
}

.widget-chart.text-left .widget-numbers {
    margin-left: 0;
}

.widget-chart .widget-subheading:first-child {
    margin-top: 0;
}

.widget-chart .widget-subheading {
    margin: -0.5rem 0 0;
    display: block;
    opacity: .6;
}

.widget-chart.text-left .widget-chart-content .widget-description {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.widget-chart .widget-numbers + .widget-chart-flex, .widget-chart .widget-numbers + .widget-description, .widget-chart .widget-numbers + .widget-subheading {
    margin-top: -0.5rem;
}

.widget-chart .widget-description {
    margin: 1rem 0 0;
}

.text-focus {
    color: #444054 !important;
}

.widget-chart.text-left .widget-chart-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.widget-chart .widget-chart-content {
    position: relative;
    z-index: 5;
}
.widget-chart.text-left .icon-wrapper {
    min-width: 50px;
    height: 50px;
    margin: 0 1rem 0 0;
}
.icon-wrapper {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.rounded-circle {
    border-radius: 50% !important;
}
.icon-wrapper .icon-wrapper-bg {
    position: absolute;
    height: 60px;
    width: 60px;
    z-index: 3;
    opacity: .2;
}

.opacity-9 {
    opacity: .9 !important;
}
.bg-success {
    background-color: #3ac47d !important;
}
.icon-wrapper i {
    margin: 0 auto;
    font-size: 2.5rem;
    position: relative;
    z-index: 5;
}
[class^="lnr-"], [class*=" lnr-"] {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget-chart.text-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.widget-chart {
    text-align: center;
    padding: 0.5rem;
    position: relative;
}
.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.bg-transparent {
    background: transparent !important;
}
.no-shadow {
    box-shadow: 0 0 0 transparent !important;
}
.rm-border {
    border-width: 0 !important;
}

.modal-backdrop {
  z-index: -1;
}

#myModal {
  top: 100px;
}

#myModal .modal-dialog {
    max-width: 800px;
}

.tabs-rounded-lg {
    border-radius: 120px;
    background: #fff;
    /*padding: 0.75rem;*/
    margin-bottom: 1.5rem;
}
.tabs-rounded-lg .nav-tabs {
    margin-bottom: 0 !important;
}
.tabs-animated > .nav-tabs {
    border: 0;
}
.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.tabs-animated-shadow > .nav-tabs .nav-link.active, .tabs-animated-shadow > .nav-tabs .nav-link:hover {
    color: #fff !important;
}
.tabs-animated > .nav-tabs .nav-link.active, .tabs-animated > .nav-tabs .nav-link:hover {
    color: #3f6ad8;
}
.tabs-animated-shadow > .nav-tabs .nav-link {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.75rem;
}
.tabs-animated > .nav-tabs .nav-link {
    position: relative;
    margin: 0 0.75rem 0 0;
    color: #495057;
    border: 0;
}
.nav-tabs .nav-link.active {
    color: #3f6ad8;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.tabs-rounded-lg .nav-link {
    margin-bottom: 0 !important;
    font-size: 1rem;
    padding: 0.75rem 0.5rem;
}
.nav-item .nav-link {
    font-weight: normal;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.nav-link {
    font-weight: bold;
}
.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
.tabs-animated-shadow > .nav-tabs .nav-link span {
    position: relative;
    z-index: 5;
    display: inline-block;
    width: 100%;
}
#level2 .nav-link::before {
    border-radius: 50px !important;
}
#loaded-dependent-content .widget-content .widget-content-left .widget-heading {
    font-size: 13px;
}
#loaded-content .list-group-item {
    cursor: pointer;
}
.loader-box {
    z-index: 1999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.btn-icon .btn-icon-wrapper {
    margin-right: 0.5rem;
    margin-left: 0;
    margin-top: 0;
    font-size: 17px;
    vertical-align: middle;
    -webkit-transition: none;
    transition: none;
    display: inline-block;
}
[class^="pe-7s-"], [class*=" pe-7s-"] {
    display: inline-block;
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pe-7s-settings:before {
    content: "";
}

.list-group-item.active i {
    color: #495057;
}

.font-flag-wrapper {
    width: 20px;
    height: 20px;
    margin-right: 2px !important;
}
.flag-icon-lb {
    background-image: url('{% static 'images/flags/lb.svg' %}');
}
.flag-icon-sy {
    background-image: url('{% static 'images/flags/sy.svg' %}');
}
.flag-icon-ps {
    background-image: url('{% static 'images/flags/ps.svg' %}');
}
.flag-icon-background, .flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.list-group-item:hover, .list-group-item.active {
    background-color: #E0F3FF;
    color: #495057;
}
.item-block .card-body {
    padding: 0px !important;
}
.item-block .list-group-item {
    padding: 5px;
    padding-right: 10px;
}
.item-block .star {
    font-size: 30px;
}
.item-block .widget-progress-wrapper {
    padding-left: 40px;
}

</style>

<style>

  	@-webkit-keyframes placeHolderShimmer {
	  0% {
	    background-position: -468px 0
	  }
	  100% {
	    background-position: 468px 0
	  }
	}

	@keyframes placeHolderShimmer {
	  0% {
	    background-position: -468px 0
	  }
	  100% {
	    background-position: 468px 0
	  }
	}

	.timeline-item {
	  margin: 0 auto;
	  background: #fff;
	  border: 1px solid;
	  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	  border-radius: 3px;
	  padding: 12px;
	  max-width: 800px;
	  min-height: 200px;
	}

	.animated-background {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: forwards;
	  animation-fill-mode: forwards;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-name: placeHolderShimmer;
	  animation-name: placeHolderShimmer;
	  -webkit-animation-timing-function: linear;
	  animation-timing-function: linear;
	  background: #f6f7f8;
	  background: #eeeeee;
	  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
	  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	  -webkit-background-size: 800px 104px;
	  background-size: 800px 104px;
	  height: 96px;
	  position: relative;
	}

	.background-masker {
	  background: #fff;
	  position: absolute;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}

	.outlined .background-masker {
	  border: 1px solid #ddd;
	}

	.outlined:hover .background-masker {
	  border: none;
	}

	.outlined:hover .background-masker:hover {
	  border: 1px solid #ccc;
	  z-index: 1;
	}

	.background-masker.header-top,
	.background-masker.header-bottom,
	.background-masker.subheader-bottom {
	  top: 0;
	  left: 40px;
	  right: 0;
	  height: 10px;
	}

	.background-masker.header-left,
	.background-masker.subheader-left,
	.background-masker.header-right,
	.background-masker.subheader-right {
	  top: 10px;
	  left: 40px;
	  height: 8px;
	  width: 10px;
	}

	.background-masker.header-bottom {
	  top: 18px;
	  height: 6px;
	}

	.background-masker.subheader-left,
	.background-masker.subheader-right {
	  top: 24px;
	  height: 6px;
	}

	.background-masker.header-right,
	.background-masker.subheader-right {
	  width: auto;
	  left: 300px;
	  right: 0;
	}

	.background-masker.subheader-right {
	  left: 230px;
	}

	.background-masker.subheader-bottom {
	  top: 30px;
	  height: 10px;
	}

	.background-masker.content-top,
	.background-masker.content-second-line,
	.background-masker.content-third-line,
	.background-masker.content-second-end,
	.background-masker.content-third-end,
	.background-masker.content-first-end {
	  top: 40px;
	  left: 0;
	  right: 0;
	  height: 6px;
	}

	.background-masker.content-top {
	  height: 20px;
	}

	.background-masker.content-first-end,
	.background-masker.content-second-end,
	.background-masker.content-third-end {
	  width: auto;
	  left: 380px;
	  right: 0;
	  top: 60px;
	  height: 8px;
	}

	.background-masker.content-second-line {
	  top: 68px;
	}

	.background-masker.content-second-end {
	  left: 420px;
	  top: 74px;
	}

	.background-masker.content-third-line {
	  top: 82px;
	}

	.background-masker.content-third-end {
	  left: 300px;
	  top: 88px;
	}
</style>

<div class="app-main__inner">
   <div class="app-page-title">
     <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-culture icon-gradient bg-mean-fruit">
                                        </i>
                                    </div>
                                    <div>Donor Mapping

                                        <div class="page-title-subheading">

                                        </div>
                                    </div>
                                </div>
                                <div class="" style="padding-left: 150px;">

                          <select class="btn btn-outline-primary" id="filter_donors" name="donors">
                            <option class="dropdown-item" value="">Select a Donor</option>
                             {% for donor in donors %}
                            <option class="dropdown-item" value="{{ donor.code }}">
                              {{ donor.name }}
                            </option>
                            {% endfor %}
                          </select>

                                </div>
                            </div>
   </div>

 <div class="tab-content" style="padding: 20px;">

    <div class="tab-pane tabs-animation fade active show" id="loaded-content" role="tabpanel">

      <div class="row">

        <div class="col-md-6 item-block" style="margin: 0 auto;" id="interventions_list">
          <div class="main-card mb-3 card" style="min-height: 200px;">
            <div class="card-header">
              <i class="header-icon pe-7s-link icon-gradient bg-ripe-malin"></i> Funded programmes
            </div>
            <div class="card-body">
              <div style="height: 300px;"></div>
            </div>
            <div id="loader-box-1" class="loader-box" style="display: none;">
                <div class="loader"></div>
            </div>
          </div>
        </div>

        <div class="col-md-6 item-block" style="margin: 0 auto;">
          <div class="main-card mb-3 card" style="min-height: 200px;">
            <div class="card-header"><i class="header-icon pe-7s-map-2 icon-gradient bg-ripe-malin"></i>Intervention map</div>
            <div class="card-body">
                <div id="mapView" style="height: 300px;"></div>
            </div>
            <div id="loader-box-2" class="loader-box" style="display: none;">
                <div class="loader"></div>
            </div>
          </div>
        </div>

        <div class="col-md-6 item-block" style="margin: 0 auto;" id="results_list">
          <div class="main-card mb-3 card" style="min-height: 200px;">
            <div class="card-header"><i class="header-icon pe-7s-menu icon-gradient bg-ripe-malin"></i>Reported Indicators</div>
            <div class="card-body">
              <div style="height: 300px;"></div>
            </div>
            <div id="loader-box-3" class="loader-box" style="display: none;">
                <div class="loader"></div>
            </div>
          </div>
        </div>

        <div class="col-md-6 item-block" style="margin: 0 auto;">
          <div class="main-card mb-3 card" style="min-height: 200px;">
            <div class="card-header"><i class="header-icon pe-7s-cash icon-gradient bg-ripe-malin"></i>Funding History</div>
            <div class="card-body">
                <div id="funding_chart" style="height: 300px;"></div>
            </div>
            <div id="loader-box-4" class="loader-box" style="display: none;">
                <div class="loader"></div>
            </div>
          </div>
        </div>

      </div>

    </div>

</div>

</div>



{% endblock content %}

    {% block extra_js %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!--<script type="text/javascript" src="{% static 'js/Highcharts.chart.js' %}"></script>-->
<!--<script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap-multiselect.min.js' %}"></script>-->
<script src="{% static 'js/tail.select.min.js' %}"></script>

<link rel="stylesheet" href="https://js.arcgis.com/4.11/esri/css/main.css">
<script src="https://js.arcgis.com/4.11/"></script>


<script type="text/javascript">

  var interventions_url  = '{% url "etools:donor_interventions" %}';
  var locations_url  = '{% url "etools:load_donor_locations" %}';
  var results_url  = '{% url "etools:donor_programme_results" %}';
  var funding_url  = '{% url "etools:donor_funding" %}';

  var symbol = {
    style: "square",
    color: "blue",
    size: "8px",  // pixels
    outline: {  // autocasts as new SimpleLineSymbol()
      color: [ 255, 255, 0 ],
      width: 3  // points
    }
  };

  var symbol_icon = {
    url: "{% static 'images/location-map-pin.png' %}",
    height:34,
    width:24,
  };

  var markerSymbol = {
    type: "picture-marker", // autocasts as new SimpleMarkerSymbol()
    url: "{% static 'images/location-map-pin.png' %}",
    height:34,
    width:24,
  };

  var view = null;
  var pointGraphic = null;

  $(document).ready(function(){

      tail.select("#filter_donors", {
          search: true,
          placeholder: "Donors",
      }).on("change", function(item, state){
          load_blocks_data(item.key);
      });

      require([
        "esri/Map",
        "esri/views/MapView",
        "esri/symbols/SimpleMarkerSymbol",
        "esri/symbols/PictureMarkerSymbol",
        "esri/geometry/Point",
        "esri/Graphic",
      ], function(Map, MapView, SimpleMarkerSymbol, PictureMarkerSymbol, Point, Graphic) {

        var map = new Map({
            basemap: "topo-vector"
        });

        view = new MapView({
          container: "mapView",
          map: map,
          center: [35.8411, 33.6513],
          zoom: 8
        });

      });
  });

  $(document).on('click', '.level3-filter', function(){
      $('#loaded-content .list-group-item').removeClass('active');
      $(this).addClass('active');
      load_sub_data($(this).attr('data-data'), $('#level1').find('a.active').attr('data-fgColor'));
  });

  function load_blocks_data(donor){

      load_interventions_block(donor);
      load_locations(donor);
      load_results_block(donor);
      load_funding_block(donor);
  }

  function load_interventions_block(donor){
      $('#loader-box-1').show();
      $('#interventions_list').empty();

      $.ajax({
          url: interventions_url,
          dataType: "html",
          data: {
              donor: donor,
          },
          success: function (data) {
              $('#loader-box-1').hide();
              $('#interventions_list').html(data);
          }
      });
  }

  function load_results_block(donor){
      $('#loader-box-3').show();
      $('#results_list').empty();

      $.ajax({
          url: results_url,
          dataType: "html",
          data: {
              donor: donor,
          },
          success: function (data) {
              $('#loader-box-3').hide();
              $('#results_list').html(data);
          }
      });
  }

  function load_locations(donor){
      $('#loader-box-2').show();

      $.ajax({
          url: locations_url,
          dataType: "json",
          data: {
              donor: donor,
          },
          success: function (data) {
              //$('#loader-box-2').hide();
              add_points(data.result);
          }
      });
  }

  function load_funding_block(donor){
      $('#loader-box-4').show();
      $('#funding_chart').empty();

      $.ajax({
          url: funding_url,
          dataType: "html",
          data: {
              donor: donor,
          },
          success: function (data) {
              $('#loader-box-4').hide();
              $('#funding_chart').html(data);
          }
      });
  }


function add_points(locations){

    var points = JSON.parse(locations);

        require([
          "esri/Map",
          "esri/views/MapView",
          "esri/symbols/SimpleMarkerSymbol",
          "esri/symbols/PictureMarkerSymbol",
          "esri/geometry/Point",
          "esri/Graphic",
        ], function(Map, MapView, SimpleMarkerSymbol, PictureMarkerSymbol, Point, Graphic) {

view.graphics.removeAll();

setTimeout(function(){

          $(points).each(function(i, item){
              <!--setTimeout(function(){-->
              var url = '<a href="'+item.url+'" target="_blank"><i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;">'+item.number+'</i></a>';

              var lineAtt = {
                Number: url,
                Title: item.title,
                Site: item.name,
                Type: item.document_type,
                Partner: item.partner_name,
                Status: item.status,
                Start: item.start,
                End: item.end,
                Budget: item.total_budget,
                Sections: item.section_names,
                Offices: item.offices_names,
              };

              var pointGraphic = new Graphic({
                geometry: {
                  type: "point",
                  longitude: item.longitude,
                  latitude: item.latitude
                },
                symbol: markerSymbol,
                attributes: lineAtt,
                popupTemplate: {
                  title: "{Type} {Number}",
                  content: [
                    {
                      type: "fields",
                      fieldInfos: [
                        {
                          fieldName: "Site"
                        },
                        {
                          fieldName: "Title"
                        },
                        {
                          fieldName: "Partner"
                        },
                        {
                          fieldName: "Status"
                        },
                        {
                          fieldName: "Start"
                        },
                        {
                          fieldName: "End"
                        },
                        {
                          fieldName: "Budget"
                        },
                        {
                          fieldName: "Sections"
                        },
                        {
                          fieldName: "Offices"
                        },
                      ]
                    }
                  ]
                }
              });

              view.graphics.add(pointGraphic);
              <!--}, 3000);-->
          });

          $('#loader-box-2').hide();

}, 9000);

});

}


</script>


{% endblock %}
