{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}

{% block project_title %}{% endblock %}

{% block content %}

<div class="app-main__inner">
  <div class="app-page-title">
    <form action="{% url 'activityinfo:report' %}" method="get">
      <div class="page-title-wrapper">
        <div class="page-title-heading" style="width:100%" data-step="4" data-intro="Filter options by partner or governorate or donor">
          <div class="page-title-icon">
            <i class="fa fa-fw icon-gradient bg-malibu-beach" aria-hidden="true" title="Copy to use filter"></i>
          </div>
          <div style="width:100%; margin-top:12px">
            <div class="row">
              <div class="col-lg-10 col-sm-12">
                <select class="btn btn-outline-primary" multiple="multiple" id="filter_partners" name="partners">
                {% for partner in partners %}
                <option class="dropdown-item" value="{{ partner.partner_id }}"
                        {% if partner.partner_id in selected_partners %}selected{% endif %}>{{ partner.partner_label }}
                </option>
                {% endfor %}
              </select>
              <select class="btn btn-outline-primary" multiple="multiple" id="filter_governorates" name="governorates">
                {% for gov in governorates %}
                <option class="dropdown-item" value="{{ gov.location_adminlevel_governorate_code }}" {% if gov.location_adminlevel_governorate_code in selected_governorates %}selected{% endif %}>
                  {{ gov.location_adminlevel_governorate }}
                </option>
                {% endfor %}
              </select>
              <select class="btn btn-outline-primary" multiple="multiple" id="filter_donors" name="donors">
                 {% for donor in donors %}
                <option class="dropdown-item" value="{{ donor }}" {% if donor in selected_donors %} selected {% endif %}>
                  {{ donor }}
                </option>
                {% endfor %}
              </select>
            <button type="submit" class="btn btn shadow btn-primary mr-left-5" title="Search"><i style="font-weight:bolder" class="pe-7s-search"></i></button>
              <a href="" title="Cancel"
                 class="btn btn-light d-inline-block"><i class="fa fa-fw" aria-hidden="true"></i></a>

            </div>

            <a class="btn shadow  btn-outline-warning" href="javascript:void(0);"
               onclick="javascript:introJs().setOption('showProgress', true).start();" data-toggle="tooltip"
               data-placement="bottom" title="Show me some tips">
              <i class="fa fa-lightbulb" aria-hidden="true"></i>
            </a>
            </div>
          </div>
          
          </div>

        </div>
    </form>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="main-card mb-3 card">
           <div class="card-header">

            <div class="d-inline-block dashboard_icons">

            </div>

            </div>

      </div>
        <div class="card-body">
        </div>
      </div>
  </div>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>
<script src="{% static 'js/bootstrap-multiselect.min.js' %}"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<script>

$(document).ready(function () {

    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
      }
    };

    var id = getUrlParameter('ai_id');
    var selected_li=$('li#'+id).find('a');
    var parent = selected_li.parent();
    parent.addClass("mm-active");
    selected_li.addClass("mm-active");


    $('#filter_partners').multiselect({
        buttonWidth : '180px',
        includeSelectAllOption : true,
        nonSelectedText: 'Partners',
        nSelectedText:'selected partners',
        numberDisplayed:1
    });

    $('#filter_governorates').multiselect({
        buttonWidth : '190px',
        includeSelectAllOption : true,
        nonSelectedText: 'Governorates',
        nSelectedText:'selected governorates',
        numberDisplayed:1
      });

    $('#filter_donors').multiselect({
        buttonWidth : '180px',
        includeSelectAllOption : true,
        nonSelectedText: 'Donors',
        nSelectedText:'selected donors',
        numberDisplayed:1
    });

});


</script>

{% endblock %}
