{% extends "base.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}

{% block ai_reports %}
  {% for db in databases %}
    <li><a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}">{{ db.label }}</a></li>
  {% endfor %}
{% endblock %}

{% block ai_databases %}
  {% for db in databases %}
    <li><a href="{% url 'activityinfo:dashboard' %}?ai_id={{ db.ai_id }}">{{ db.label }}</a></li>
  {% endfor %}
{% endblock %}

{% block project_title %}Neuro-DB{% endblock %}

{% block content %}
<!-- top tiles -->
{% include 'etools/statistics.html' %}
<!-- /top tiles -->

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="">


      <div class="clearfix"></div>
    </div>
  </div>

</div>
<br />
{% endblock content %}
