{% extends "base.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}

{% block ai_reports %}
  {% for db in databases %}
    <li><a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}">{{ db.label }}</a></li>
  {% endfor %}
{% endblock %}

{% block ai_databases %}
  {% for db in databases %}
    <li><a href="{% url 'activityinfo:dashboard' %}?ai_id={{ db.ai_id }}">{{ db.label }}</a></li>
  {% endfor %}
{% endblock %}

{% block project_title %}Partner Profile{% endblock %}

{% block content %}
<!-- top tiles -->
{% include 'etools/statistics.html' %}
<!-- /top tiles -->

<style>
  div.panel-footer {
    background-color: #fff !important;
  }
  p {
    background-color: #f7f9fa;
    padding: 10px;
    border-radius: 10px;
  }
  .sidebar-box {
    max-height: 120px;
    position: relative;
    overflow: hidden;
  }
  .sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    opacity: 0.9;
  }
  .btn-filter.on {
    background-color: #0089d2;
    color: white;
  }
  .btn-filter-no.on {
    background-color: #0089d2;
    color: white;
  }
</style>

<link href="{% static 'vendors/intro.js/css/introjs.css' %}" rel="stylesheet">

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="x-panel">
    <div class="x_title">
      <h2>
        <span data-step="5" data-intro="Collapse / Expand Partners info">
          <a href="#" class="collapse-all" style="font-size: 25px;"><i class="fa fa-th-large"></i></a>
          <a href="#" class="expanded-all active" style="font-size: 25px; padding-right: 10px;"><i class="fa fa-bars"></i></a>
        </span>
        <strong>Partner Profile</strong>
        <input type="text" class="form-control ds-input" id="search-input" placeholder="Search..."
               autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list"
               aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto"
               style="margin-left: 15px; position: relative; vertical-align: top;border-radius: 4px !important; width: 300px;display: inline;"
               data-step="6" data-intro="Search for a specific Partner by name">
      </h2>
      <div class="btn-group" role="group" aria-label="" style="padding-left: 15px; padding-top: 5px;" data-step="7" data-intro="Filter partners">
        <button type="button" itemref="all" class="btn btn-default btn-filter-no on">All</button>
        <button type="button" itemref="pcas" class="btn btn-default btn-filter">PCAs</button>
        <button type="button" itemref="audits" class="btn btn-default btn-filter">Audits</button>
        <button type="button" itemref="micro-assessments" class="btn btn-default btn-filter">Micro Assessments</button>
        <button type="button" itemref="spot-checks" class="btn btn-default btn-filter">Spot Checks</button>
        <button type="button" itemref="special-visits" class="btn btn-default btn-filter">Special Visits</button>
        <button type="button" itemref="programmatic-visits" class="btn btn-default btn-filter">Programmatic Visits</button>
        <button type="button" itemref="programmatic-visits-completed" class="btn btn-default btn-filter">Completed Programmatic Visits</button>
      </div>
      <a class="" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();" data-toggle="tooltip" data-placement="bottom"
         title="Show me some tips" style="padding-left: 20px;">
        <i class="fa fa-lightbulb-o" style="font-size: 30px; color: #0089d2"></i>
      </a>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    </div>
    <div class="row" id="partner_profile">

    {% for key, partner in partners_info.items %}
      <div class="partner-profile panel {% if partner.rating == 'low' %}panel-info{% elif partner.rating == 'medium' %}panel-warning
        {% elif partner.rating == 'high' %}panel-danger{% else %}panel-success{% endif %}"
           pcas="{{ partner.interventions|length }}" audits="{{ partner.audits|length }}"
           micro-assessments="{{ partner.micro_assessments|length }}"
           spot-checks="{{ partner.spot_checks|length }}" special-visits="{{ partner.special_visits|length }}"
           programmatic-visits="{{ partner.programmatic_visits|length }}"
           programmatic-visits-completed="{{ partner.programmatic_visits_completed|length }}">

          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#collapse{{ partner.id }}">
                <i class="fa fa-star-o" style="color: #0089d2;"></i>
                <span class="label label-default">{{ partner.rating }}</span>
                <span>{{ partner.name }}</span>
                  <a href="https://etools.unicef.org/pmp/partners/{{ partner.id }}/details" target="_blank">
                    <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
                  </a>
              </a>
            </h3>
            <h2>{{ partner.type }}</h2>
          </div>

          <div id="collapse{{ partner.id }}" class="panel-collapse collapse">

            {% if partner.interventions %}
            <div class="panel-body">
                <h5 class="modal-title"><span class="label label-primary">{{ partner.interventions|length }}</span> Interventions</h5>
              {% for inter in partner.interventions %}
                <div class="" style="padding-top: 5px; padding-bottom: 5px;">
                  <div class="col-md-6">
                    <i class="fa fa-file-text-o" style="font-size: 16px; color: #0089d2;"></i>
                    <a href="https://etools.unicef.org/pmp/interventions/{{ inter.etl_id }}/details" target="_blank">
                      {{ inter.number }}
                      <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
                    </a>
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-calendar" style="font-size: 16px; color: #0089d2;"></i> {{ inter.start }}
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-calendar" style="font-size: 16px; color: #0089d2;"></i> {{ inter.end_date }}
                  </div>
                  <div class="col-md-6">
                    <i class="fa fa-map-o" style="font-size: 16px; color: #0089d2;"></i>
                    {% for p_code in inter.location_p_codes %}
                      {{ p_code }}
                    {% endfor %}
                  </div>
                  <div class="col-md-4">
                    <i class="fa fa-usd" style="font-size: 16px; color: #0089d2;"></i>
                    {{ inter.total_budget }} {{ inter.budget_currency }}
                  </div>
                </div>
              {% endfor %}
            </div>
            {% else %}
              <div class="panel-body">
                <h5 class="modal-title"><span class="label label-primary">0</span> Interventions</h5>
              </div>
            {% endif %}

            {% if partner.programmatic_visits|length %}
            <div class="panel-footer">
              <h5 class="modal-title"><span class="label label-primary">{{ partner.programmatic_visits|length }}</span> Programmatic Visit(s)</h5>
                <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                  <div class="col-md-1"><span class="label label-primary">{{ partner.programmatic_visits.nbr_planned }}</span> Planned</div>
                  <div class="col-md-1"><span class="label label-primary">{{ partner.programmatic_visits.nbr_submitted }}</span> Submitted</div>
                  <div class="col-md-1"><span class="label label-primary">{{ partner.programmatic_visits.nbr_approved }}</span> Approved</div>
                  <div class="col-md-1"><span class="label label-primary">{{ partner.programmatic_visits_completed|length }}</span> Completed</div>
                  <div class="col-md-1"><span class="label label-primary">{{ partner.programmatic_visits.nbr_cancelled }}</span> Cancelled</div>
                  <div class="col-md-1"><span class="label label-primary">{{ partner.programmatic_visits.nbr_rejected }}</span> Rejected</div>
                </div>
                {% for audit in partner.programmatic_visits_completed %}
                <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                  <div class="col-md-6">
                    <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
                    {{ audit.reference_number }}
                    <a href="https://etools.unicef.org/t2f/edit-travel/{{ audit.travel_id }}" target="_blank">
                      <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
                    </a>
                  </div>
                  <div class="col-md-6">
                    {% if audit.partnership_id %}
                    <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
                    {{ audit.number }}
                    <a href="https://etools.unicef.org/pmp/interventions/{{ audit.partnership_id }}" target="_blank">
                      <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
                    </a>
                    {% endif %}
                  </div>
                  <div class="col-md-12">
                    <strong><span class="label label-primary">{{ audit.attachments_sets|length }}</span> Attachment(s)</strong>
                    <p>
                      {% for att in audit.attachments_sets %}
                      <i class="fa fa-file-pdf-o"></i>
                      <a href="{{ att.url }}" target="_blank">
                        {{ att.name }}
                        <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
                      </a>
                      <br/>
                      {% endfor %}
                    </p>
                  </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
              <div class="panel-footer">
                <h5 class="modal-title"><span class="label label-primary">0</span> Programmatic Visits</h5>
              </div>
            {% endif %}

            {% if partner.audits|length %}
            <div class="panel-footer">
              <h5 class="modal-title"><span class="label label-primary">{{ partner.audits|length }}</span> Audit(s)</h5>

                {% for audit in partner.audits %}
                <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                  <div class="col-md-6">
                    <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
                    {{ audit.displayed_name }}
                    <a href="https://etools.unicef.org/ap/audits/{{ audit.id }}" target="_blank">
                      <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
                    </a>
                  </div>
                </div>
                {% if audit.findings %}
                <div class="row">
                  <span class="label label-primary">{{ audit.findings|length }}</span> Finding(s) and Recommendation(s)
                  {% for finding in audit.findings_sets %}
                  <div class="row">
                    <div class="col-md-6">
                      <strong><i class="fa fa-flag" style="color: {% if finding.priority == 'high' %}red{% else %}orange{% endif %}"></i> Finding and Recommendation ({{ finding.category_of_observation }})</strong>
                      <p>{{ finding.recommendation }}</p>
                    </div>
                    <div class="col-md-6">
                      <strong><i class="fa fa-sticky-note"></i> Agreed Action by IP</strong>
                      <strong><i class="fa fa-calendar"></i> Deadline of action: </strong> {{ finding.deadline_of_action }}
                      <p>{{ finding.agreed_action_by_ip }}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
                {% if audit.internal_controls %}
                <strong><i class="fa fa-sticky-note"></i> Internal Controls</strong>
                <div class="row sidebar-box">
                    <p><i>{{ audit.internal_controls }}</i></p>
                    <p class="read-more"><button type="button" class="btn btn-info">Read More...</button></p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
              <div class="panel-footer">
                <h5 class="modal-title"><span class="label label-primary">0</span> Audits</h5>
              </div>
            {% endif %}

            {% if partner.micro_assessments|length %}
            <div class="panel-footer">
              <h5 class="modal-title"><span class="label label-primary">{{ partner.micro_assessments|length }}</span> Micro Assessment(s)</h5>

                {% for audit in partner.micro_assessments %}
                <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                  <div class="col-md-6">
                    <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
                    {{ audit.displayed_name }}
                    <a href="https://etools.unicef.org/ap/micro-assessments/{{ audit.id }}" target="_blank">
                      <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
                    </a>
                  </div>
                </div>
                {% if audit.findings %}
                <div class="row">
                  <span class="label label-primary">{{ audit.findings|length }}</span> Finding(s) and Recommendation(s)
                  {% for finding in audit.findings_sets %}
                  <div class="row">
                    <div class="col-md-6">
                      <strong><i class="fa fa-flag" style="color: {% if finding.priority == 'high' %}red{% else %}orange{% endif %}"></i> Finding and Recommendation ({{ finding.category_of_observation }})</strong>
                      <p>{{ finding.recommendation }}</p>
                    </div>
                    <div class="col-md-6">
                      <strong><i class="fa fa-sticky-note"></i> Agreed Action by IP</strong>
                      <strong><i class="fa fa-calendar"></i> Deadline of action: </strong> {{ finding.deadline_of_action }}
                      <p>{{ finding.agreed_action_by_ip }}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
                {% if audit.internal_controls %}
                <strong><i class="fa fa-sticky-note"></i> Internal Controls</strong>
                <div class="row sidebar-box">
                    <p><i>{{ audit.internal_controls }}</i></p>
                    <p class="read-more"><button type="button" class="btn btn-info">Read More...</button></p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
              <div class="panel-footer">
                <h5 class="modal-title"><span class="label label-primary">0</span> Micro Assessments</h5>
              </div>
            {% endif %}

            {% if partner.spot_checks|length %}
            <div class="panel-footer">
                <h5 class="modal-title"><span class="label label-primary">{{ partner.spot_checks|length }}</span> Spot Check(s)</h5>
                {% for audit in partner.spot_checks %}
                <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                  <div class="col-md-6">
                    <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
                    {{ audit.displayed_name }}
                    <a href="https://etools.unicef.org/ap/spot-checks/{{ audit.id }}" target="_blank">
                      <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
                    </a>
                  </div>
                </div>
                {% if audit.findings %}
                <div class="row">
                  <span class="label label-primary">{{ audit.findings|length }}</span> Finding(s) and Recommendation(s)
                  {% for finding in audit.findings_sets %}
                  <div class="row">
                    <div class="col-md-6">
                      <strong><i class="fa fa-flag" style="color: {% if finding.priority == 'high' %}red{% else %}orange{% endif %}"></i> Finding and Recommendation ({{ finding.category_of_observation }})</strong>
                      <p>{{ finding.recommendation }}</p>
                    </div>
                    <div class="col-md-6">
                      <strong><i class="fa fa-sticky-note"></i> Agreed Action by IP with a deadline: {{ finding.deadline_of_action }}</strong>
                      <p>{{ finding.agreed_action_by_ip }}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
                {% if audit.internal_controls %}
                <strong><i class="fa fa-sticky-note"></i> Internal Controls</strong>
                <div class="row sidebar-box">
                    <p><i>{{ audit.internal_controls }}</i></p>
                    <p class="read-more"><button type="button" class="btn btn-info">Read More...</button></p>
                </div>
                {% endif %}

                {% endfor %}
            </div>
            {% else %}
              <div class="panel-footer">
                <h5 class="modal-title"><span class="label label-primary">0</span> Spot Checks</h5>
              </div>
            {% endif %}

            {% if partner.special_visits|length %}
            <div class="panel-footer">
              <h5 class="modal-title"><span class="label label-primary">{{ partner.special_visits|length }}</span> Special Visit(s)</h5>

                {% for audit in partner.special_visits %}
                <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                  <div class="col-md-6">
                    <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
                    {{ audit.displayed_name }}
                    <a href="https://etools.unicef.org/ap/special-visits/{{ audit.id }}" target="_blank">
                      <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
                    </a>
                  </div>
                </div>
                {% if audit.findings %}
                <div class="row">
                  <span class="label label-primary">{{ audit.findings|length }}</span> Finding(s) and Recommendation(s)
                  {% for finding in audit.findings_sets %}
                  <div class="row">
                    <div class="col-md-6">
                      <strong><i class="fa fa-flag" style="color: {% if finding.priority == 'high' %}red{% else %}orange{% endif %}"></i> Finding and Recommendation ({{ finding.category_of_observation }})</strong>
                      <p>{{ finding.recommendation }}</p>
                    </div>
                    <div class="col-md-6">
                      <strong><i class="fa fa-sticky-note"></i> Agreed Action by IP</strong>
                      <strong><i class="fa fa-calendar"></i> Deadline of action: </strong> {{ finding.deadline_of_action }}
                      <p>{{ finding.agreed_action_by_ip }}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
                {% if audit.internal_controls %}
                <strong><i class="fa fa-sticky-note"></i> Internal Controls</strong>
                <div class="row sidebar-box">
                    <p><i>{{ audit.internal_controls }}</i></p>
                    <p class="read-more"><button type="button" class="btn btn-info">Read More...</button></p>
                </div>
                {% endif %}

                {% endfor %}
            </div>
            {% else %}
            <div class="panel-footer">
              <h5 class="modal-title"><span class="label label-primary">0</span> Special Visit</h5>
            </div>
            {% endif %}

          </div>
        </div>
    {% endfor %}

      <div class="clearfix"></div>
    </div>
  </div>

</div>
<br />
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'vendors/intro.js/js/intro.js' %}"></script>
  <script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>

<script>

    $('.expanded-all').click(function(){
        $('.panel-collapse').addClass('in');
        $('.panel-collapse').attr('aria-expanded', 'true');
    });

    $('.collapse-all').click(function(){
        $('.panel-collapse').removeClass('in');
        $('.panel-collapse').attr('aria-expanded', 'false');
    });

  $('input#search-input').quicksearch('div#partner_profile div.partner-profile', {
    'delay': 300,
    'selector': 'span',
    <!--'stripeRows': ['odd', 'even'],-->
    'loader': 'span.loading',
    'bind': 'keyup click input',
    <!--'show': function () {-->
      <!--this.style.color = '';-->
    <!--},-->
    <!--'hide': function () {-->
      <!--this.style.color = '#ccc';-->
    <!--},-->
    'prepareQuery': function (val) {
      return new RegExp(val, "i");
    },
    'testQuery': function (query, txt, _row) {
      return query.test(txt);
    }
  });

  $('.btn-filter-no').click(function(){
      $('.partner-profile').show();
      $('.btn-filter').removeClass('on');
      if($(this).hasClass('on')){
        $(this).removeClass('on');
      }else{
        $(this).addClass('on');
      }
  });

  $('.btn-filter').click(function(){
      if($(this).hasClass('on')){
        $(this).removeClass('on');
      }else{
        $(this).addClass('on');
      }

      if($('.btn-filter.on').length){
        $('.partner-profile').hide();
      }else{
        $('.partner-profile').show();
      }

      $('.btn-filter.on').each(function(i){
          var itemref = $(this).attr('itemref');
          $('.partner-profile').filter(function() {
            return parseInt($(this).attr(itemref)) > 0;
          }).show();
      });
  });

var $el, $ps, $up, totalHeight;

$(".sidebar-box button").click(function() {

  totalHeight = 0

  $el = $(this);
  $p  = $el.parent();
  $up = $p.parent();
  $ps = $up.find("p:not('.read-more')");

  // measure how tall inside should be by adding together heights of all inside paragraphs (except read-more paragraph)
  $ps.each(function() {
    totalHeight += $(this).outerHeight();
  });

  $up
    .css({
      // Set height to prevent instant jumpdown when max height is removed
      "height": $up.height(),
      "max-height": 9999
    })
    .animate({
      "height": totalHeight
    });

  // fade out read-more
  $p.fadeOut();

  // prevent jump-down
  return false;

});

</script>

{% endblock %}
