{% load staticfiles i18n %}

<div class="btn-group dropdown" placement="bottom" id="calendar_btn">

                     <button aria-haspopup="true" type="button" data-toggle="tooltip"
                     data-placement="top" title="Reporting Year" aria-expanded="true" class=" p-1 btn btn-grey">
                          <i class="icon-Calendar unicef-icon"></i>
                      </button>

                        <div class="dropdown-menu-xl dropdown-menu" x-placement="bottom"
                            style="top: 0px; left: 0px; position: absolute; transform: translate(-200px, 46px);">
                            <div class="dropdown-menu-header">
                                <div class="dropdown-menu-header-inner px-3">
                                    <div class="menu-header-image dd-header-bg-1"></div>
                                    <div class="menu-header-content text-white">
                                        <h5 class="menu-header-title">Dashboard Calendar</h5>
                                        <h6 class="menu-header-subtitle">Change Reporting Year</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-menu grid-menu-xl grid-menu-3col">
                                <div class="row">
                                    <div class="col-12">
                                        <a class="d-flex align-items-center" id="2020" href="{% url 'activityinfo:report_crisis' %}?ai_id=202020">
                                            <i class="icon-Calendar unicef-icon  btn-icon-wrapper btn-icon-lg mr-2"></i>
                                            2020
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a class="d-flex align-items-center" id="2021" href="{% url 'activityinfo:report_crisis' %}?ai_id=202120">
                                            <i class="icon-Calendar unicef-icon  btn-icon-wrapper btn-icon-lg mr-2"></i>
                                            2021
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a class="d-flex align-items-center disabled">
                                            <i class="icon-Calendar unicef-icon  btn-icon-wrapper btn-icon-lg mr-2"></i>
                                            2022
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script>

        $(document).ready(function () {
            $('#calendar_btn').click(function () {
                $('.dropdown-menu-xl').slideToggle("fast");
            });

            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };
            var id = getUrlParameter('rep_year');
             var selected_year = "";
             if (id == null || undefined) {
                var currentYear = (new Date).getFullYear();
                var  rep_year = $('#reporting_year').val();
                 if (rep_year == currentYear) {
                    selected_year = $('a#' + currentYear);
                    }
                  else {
                    selected_year = $('a#' + rep_year);
                  }
            } else {
                selected_year = $('a#' + id);
            }
            selected_year.addClass("active");

        });

</script>
