{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}

{% block content %}
<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
       <div class="page-title-heading">
       <div class="page-title-icon">
       <i class="pe-7s-display2 icon-gradient bg-ripe-malin"> </i>
        </i>
      </div>
      <div style="font-weight:bold">
        HPM Table – Data as January to {{ month_name }} {{reporting_year}}
        &nbsp; &nbsp;
           <ul class="nav navbar-left d-inline-block"  data-step="6"
                data-intro="Download Dashboard report and raw data">
              <li class="dropdown">
                <a id="drop"  class="dropdown-toggle" title="Download report"
                   data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                  <i class="fa fa-download faa-bounce animated-hover" ></i>
                  <span class="caret"></span>
                </a>
                <ul id="menu2" class="dropdown-menu animated fadeInDown" role="menu" aria-labelledby="drop5" style="z-index: 3000;">
                  {% for month, month_name in months %}
                    <li role="presentation">
                      <a role="menuitem" class="dropdown-item" tabindex="-1"
                         href="{% url 'activityinfo:hpm_report' %}?month={{ month }}">
                        {{ month_name }}
                      </a>
                  {% endfor %}
                </ul>
              </li>
            </ul>
      </div>
      <div>
      </div>
  </div>
        <div class="page-title-actions">
    <form action="{% url 'activityinfo:hpm' %}?rep_year={{ database.reporting_year }}" method="get" id="month_form">
      <input type="hidden" name="month" value="" id="monthinput"/>

            <div class="dropdown d-inline-block">
            <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" name="months" id="filter_month" style="min-width:150px;"
                    class="mb-2 dropdown-toggle btn btn-outline-primary"> Select month
            </button>
            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu months-drp">
              <a class="dropdown-item" data-value="0" href=""> Select month</a>
              {% for month,month_name in months %}
              <a value="{{ month }}" onclick="selectmonth('{{month}}')" {% if month == selected_month %} class="dropdown-item active" {% else %}class="dropdown-item" {% endif %}>
                {{ month_name }}</a>
              {% endfor %}
            </div>
            </div>
    </form>
    </div>
  </div>
</div>
  <div class="row">

    <div class="main-card mb-3 card">
        <div class="card-body">
        <div class="table-responsive" style="">
            <table class="mb-0 table table-striped " id="hpm_exporttable1" >
          <thead>
          <tr>
            <th class="w-150" colspan="2" >SUMMARY OF PROGRAMME RESULTS –January to {{ month_name }} {{ reporting_year }} SITREP
              – LEBANON
            </th>
            <th class="w-10">Sector Target</th>
            <th class="w-10">Sector Result</th>
            <th class="w-10">Change since last report</th>
            <th class="w-10">UNICEF Target ({{ reporting_year }})</th>
            <th class="w-10">UNICEF Result</th>
            <th class="w-10">Change since last report</th>
          </tr>
          </thead>
          <tbody>

          {% for db in ai_databases %}
          {% get_hpm_indicators db.id as dict_indicators %}
          {% get_display_db dict_indicators db.ai_id as display_db %}
          {% if display_db %}
          <tr class="hpm-tr-header">
            <td colspan="8">{{ db.hpm_label }}</td>
          </tr>
          {% for key , value in dict_indicators.items  %}
            {% if key == db.ai_id %}
              {% for indicator in value %}
              {% if indicator %}
              {% if db.label == 'Education' %}
              {% get_indicator_hpm_data indicator.0.id month as value %}
             {% get_hpm_cumulative_sector indicator.0 month as cumulative_value_sector_1 %}
          <tr>
            <td rowspan="3" width="w-150">
            {{ indicator.0.name }}
            </td>
            <td>Lebanese</td>
            <td rowspan="3">{{ indicator.0.target_sector }}</td>
            <td rowspan="3">{{ cumulative_value_sector_1 }}</td>
            <td>0</td>
            <td>0</td>
           <td>{{ value.lebanese }}</td>
            <td>{{ value.last_report_changes_lebanese }}</td>
          </tr>
          <tr>
            <td>Non-Lebanese</td>
            <td>{{ indicator.0.target_sector }}</td>
            <td>0</td>
            <td>{{ value.non_lebanese }}</td>
            <td>{{ value.last_report_changes_non_lebanese }}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>0</td>
            <td>{{ indicator.0.target }}</td>
            <td>{{ value.cumulative }}</td>
            <td>{{ value.last_report_changes }}</td>
          </tr>
           {% get_indicator_hpm_data indicator.1.id month as value1 %}
            {% get_hpm_cumulative_sector indicator.1 month as cumulative_value_sector_2 %}
          <tr>
            <td rowspan="4">
            {{ indicator.1.name }}
            </td>
            <td>ALP</td>
            <td rowspan="4">{{ indicator.1.target_sector }}</td>
            <td rowspan="4">{{ cumulative_value_sector_2 }}</td>
            <td>0</td>
            <td>0</td>
            <td>{{ value1.alp }}</td>
            <td>{{ value1.last_report_changes_alp }}</td>
          </tr>
          <tr>
            <td>CB-ECE</td>
            <td>0</td>
            <td>0</td>
            <td>{{ value1.cbece }}</td>
            <td>{{ value1.last_report_changes_cbece }}</td>
          </tr>
          <tr>
            <td>BLN</td>
            <td>0</td>
            <td>0</td>
             <td>{{ value1.bln }}</td>
            <td>{{ value1.last_report_changes_bln }}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>0</td>
            <td>{{ indicator.1.target }}</td>
            <td>{{ value1.cumulative }}</td>
            <td>{{ value1.last_report_changes }}</td>
          </tr>
          {% else %}
          {% for i in indicator %}
              {% get_hpm_cumulative i month as cumulative_value %}
              {% get_hpm_cumulative_change i month as change_value %}
              {% get_hpm_cumulative_sector i month as cumulative_value_sector %}
              {% get_hpm_cumulative_change_sector i month as change_value_sector %}
            <tr>
              <td colspan="2">{{ i.name }}</td>
               <td>{{ i.target_sector }}</td>
               <td>{{ cumulative_value_sector }} </td>
               <td>{{ change_value_sector }}</td>
               <td>{{i.target }}</td>
               <td> {{ cumulative_value }}</td>
               <td>{{ change_value }}</td>
             </tr>
          {% endfor %}
          {% endif %}

          {% endif %}
           {% endfor %}
          {% endif %}
          {% endfor %}
          {% endif %}

   {% endfor %}
          <tr class="hpm-tr-header">
            <td colspan="8">Footnotes</td>
          </tr>
          <tr>
            <td colspan="8">
              <strong>Sector Targets:</strong> All Sector targets are taken from the Lebanon 3RP {{ reporting_year}}
            </td>
          </tr>
           {% for db in ai_databases %}
          <tr>
            <td colspan="2">
              <strong>{{ db.hpm_label }}</strong>
            </td>
            <td colspan="2"></td>
              <td colspan="2"></td>
            <td colspan="2"></td>
          </tr>
        {% endfor %}
          </tbody>
        </table>
        </div>
     </div>
    </div>
 </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>

  $(document).ready(function () {
    var selected_li=$('li#hpm').find('a');
    selected_li.addClass("mm-active");
    });

    function selectmonth(month){
    $("#month_form #monthinput").val(month);
    $("#month_form").submit();
    }
  </script>
{% endblock %}
