{% extends "base2.html" %}
{% load staticfiles i18n %}
{% block project_title %}{% endblock %}

{% block content %}
<div class="app-main__inner">
   <div class="app-page-title">
     <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-keypad icon-gradient bg-mean-fruit">
                                        </i>
                                    </div>
                                    <div>UNICEF Programmes
                                        <div class="page-title-subheading">Select one of the below dashboards to view results reported on ActivityInfo</div>
                                    </div>
                                </div>
                                <div class="page-title-actions">

                                </div>
                            </div>
   </div>
  <div class="row">
    {% for db in ai_databases %}
      <div class="col-md-6 col-xl-4">
          <div class="card mb-2">
              <a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}" class="widget-content">
              <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                      <div class="widget-heading">
                        <span class="app-sidebar__heading">{{ db.section.code }}</span>
                      </div>
                      <div class="widget-subheading">
                        {{ db.label }}
                      <!--   <a href="{% url 'activityinfo:live_report' %}?ai_id={{ db.ai_id }}" data-toggle="tooltip" data-placement="top" title="Display live data monitoring">-->
                      <!--   <i class="fa fa-rss faa-flash animated" style="font-size: 15px; color: #d23900;"></i>-->
                       <!--</a>-->
                      </div>
                  </div>
                  <div class="widget-content-right">
<!--                       <a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}">-->
                        {% if db.section.logo %}
                        <img alt="100%x200" src="{% static db.section.logo %}" data-holder-rendered="true" style="height: 90px; width: 90px; display: block;" />
                        {% else %}
                        <img alt="100%x200" src="{% static 'images/unicef-logo.png' %}" data-holder-rendered="true" style="height: 90px; width: 90px; display: block;" />
                        {% endif %}
<!--                        </a>-->
                  </div>
              </div>
                <div class="card-footer d-inline-block dashboard_icons">

                        <a href="{% url 'activityinfo:live_report' %}?ai_id={{ db.ai_id }}" data-toggle="tooltip"
                           data-placement="top" title="Live Data Monitoring" class="text-danger"
                           data-step="9" data-intro="Open live ActivityInfo Dashboard">
                          <i class="fa fa-rss faa-flash "></i>
                        </a>
                        <a href="{% url 'activityinfo:report_tags' %}?ai_id={{ db.ai_id }}" data-toggle="tooltip"
                           data-placement="top" title="Indicators Data Disaggregated" class="text-info">
                          <i class="fa fa-tags animated"></i>
                        </a>
                        <a class="disabled" href="#" data-toggle="tooltip" data-placement="top"
                           title="Reported indicators on map"
                           style=" color:currentColor;cursor: not-allowed; opacity: 0.5;text-decoration: none;"
                           data-step="15" data-intro="Reported Indicators on Map">
                          <i class="fa fa-map"></i>
                        </a>
                        <a href="{% url 'activityinfo:report_disability' %}?ai_id={{ db.ai_id }}" data-toggle="tooltip"
                           data-placement="top" title="Disability Report" class="text-warning"
                           data-step="16" data-intro="Disability report">
                          <i class="fa fa-wheelchair"></i>
                        </a>

                        <a href="{% url 'activityinfo:export' %}?ai_id={{ db.ai_id }}" data-toggle="tooltip"
                           data-placement="top" title="Row data" class="text-warning"
                           data-step="16" data-intro="Row data">
                          <i class="fa fa-download"></i>
                        </a>

                </div>

              </a>
          </div>
      </div>
     {% endfor %}
  </div>
</div>

{% endblock content %}
