{% extends "base.html" %}
{% load staticfiles i18n %}


{% block ai_reports %}
  {% for db in databases %}
    <li><a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}">{{ db.label }}</a></li>
  {% endfor %}
{% endblock %}

{% block ai_databases %}
  {% for db in databases %}
    <li><a href="{% url 'activityinfo:dashboard' %}?ai_id={{ db.ai_id }}">{{ db.label }}</a></li>
  {% endfor %}
{% endblock %}

{% block project_title %}Interactive Dashboards{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade in" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: block;">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width: 1040px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">Select the ActivityInfo database section</h3>
      </div>
      <div class="modal-body" style="height: 600px; overflow: scroll;">

        {% for db in databases %}
        <div class="col-sm-6 col-md-4" style="width: 250px;">
          <div class="thumbnail" style="height: 160px;">
            {% if db.section.logo %}
            <img alt="100%x200" src="{% static db.section.logo %}" data-holder-rendered="true" style="height: 120px; width: 120px; display: block;" />
            {% else %}
            <img alt="100%x200" src="" data-holder-rendered="true" style="height: 120px; width: 120px; display: block;" />
            {% endif %}
            <div class="caption" style="padding: 0px;">
              <h4><a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}">{{ db.label }}</a></h4>
              <!--<p>-->
                <!--<a href="#" class="btn btn-primary" role="button">Button</a>-->
                <!--<a href="#" class="btn btn-default" role="button">Button</a>-->
              <!--</p>-->
            </div>
          </div>
        </div>
        {% endfor %}

        <!--{% for db in databases %}-->
        <!--<a type="button" href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}" class="btn btn-primary">{{ db.label }}</a>-->
        <!--{% endfor %}-->
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade in"></div>
{% endblock content %}
