{% extends "base2.html" %}
{% load staticfiles i18n %}

{% block project_title %}{% endblock %}

{% block content %}
<div class="app-main__inner">
   <div class="app-page-title">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div class="page-title-icon">
                                        <i class="pe-7s-keypad icon-gradient bg-mean-fruit">
                                        </i>
                                    </div>
                                    <div><b>UNICEF Programmes</b>
                                        <div class="page-title-subheading">Select one of the below dashboards to view results reported on ActivityInfo</div>
                                    </div>
                                </div>
                                <div class="page-title-actions">

                                </div>
                            </div>
                        </div>
  <div class="row">
    {% for db in ai_databases %}
      <div class="col-md-6 col-xl-4">
          <div class="card mb-3 widget-content">
              <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                      <div class="widget-heading">
                        <a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}" class="app-sidebar__heading">{{ db.section.code }}</a>
                      </div>
                      <div class="widget-subheading">
                        {{ db.label }}

<!--                        <a href="{% url 'activityinfo:live_report' %}?ai_id={{ db.ai_id }}" data-toggle="tooltip" data-placement="top" title="Display live data monitoring">-->
<!--                         <i class="fa fa-rss faa-flash animated" style="font-size: 15px; color: #d23900;"></i>-->
                       <!--</a>-->
                      </div>
                  </div>
                  <div class="widget-content-right">
                       <a href="{% url 'activityinfo:report' %}?ai_id={{ db.ai_id }}">
                        {% if db.section.logo %}
                        <img alt="100%x200" src="{% static db.section.logo %}" data-holder-rendered="true" style="height: 120px; width: 120px; display: block;" />
                        {% else %}
                        <img alt="100%x200" src="{% static 'images/unicef-logo.png' %}" data-holder-rendered="true" style="height: 120px; width: 180px; display: block;" />
                        {% endif %}
                        </a>
                  </div>
              </div>
          </div>
      </div>
     {% endfor %}
  </div>
</div>

{% endblock content %}
