<div id="partnerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width: 800px !important;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Partner Profile</h4>
      </div>
      <div class="modal-body" style="width: 800px !important;">
        <div class="row">
          <div class="col-md-12" style="font-size: 16px;">
            <i class="fa fa-user" style="color: #0089d2;"></i>
            <a href="https://etools.unicef.org/pmp/partners/{{ partner_info.etl_id }}/details" target="_blank">
              {{ partner_info.name }} <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="font-size: 16px;">
            <i class="fa fa-tags" style="color: #0089d2;"></i>
            {{ partner_info.type }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="font-size: 16px;">
            <i class="fa fa-star-o" style="color: #0089d2;"></i>
            {{ partner_info.rating }}
          </div>
        </div>

        <div class="clearfix"></div>
        <br />

        {% if partner_info.interventions %}
        <div class="row">
          <h5 class="modal-title">Interventions</h5>
        </div>
        <br />
        {% endif %}
        {% for inter in partner_info.interventions %}
          <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="col-md-6">
              <i class="fa fa-file-text-o" style="font-size: 16px; color: #0089d2;"></i>
              <a href="https://etools.unicef.org/pmp/interventions/{{ inter.etl_id }}/details" target="_blank">
                {{ inter.number }}
                <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
              </a>
            </div>
            <div class="col-md-2">
              <i class="fa fa-calendar" style="font-size: 16px; color: #0089d2;"></i> {{ inter.start }}
            </div>
            <div class="col-md-2">
              <i class="fa fa-calendar" style="font-size: 16px; color: #0089d2;"></i> {{ inter.end }}
            </div>
          </div>

          <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="col-md-6">
              <i class="fa fa-map-o" style="font-size: 16px; color: #0089d2;"></i>
              {% for p_code in inter.location_p_codes %}
                {{ p_code }}
              {% endfor %}
            </div>
            <div class="col-md-4">
              <i class="fa fa-usd" style="font-size: 16px; color: #0089d2;"></i>
              {{ inter.total_budget }} {{ inter.budget_currency }}
            </div>
          </div>
        {% endfor %}

        {% if partner_info.programmatic_visits %}
          <br />
          <div class="row">
            <h5 class="modal-title">{{ partner_info.programmatic_visits.nbr_visits }} Programmatic Visit(s) in {{ year }}</h5>
          </div>
          <br />
          <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="col-md-6">
              <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
              {{ partner_info.programmatic_visits.last_visit.travel }} {{ partner_info.programmatic_visits.last_visit.travel.purpose }}
              <a href="https://etools.unicef.org/t2f/edit-travel/{{ partner_info.programmatic_visits.last_visit.travel.id }}" target="_blank">
                <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
              </a>
            </div>
            <div class="col-md-6">
              <i class="fa fa-calendar" style="font-size: 16px; color: #0089d2;"></i>
              Last Visit in {{ partner_info.programmatic_visits.last_visit.date }}
            </div>
          </div>
        {% endif %}

        {% if partner_info.audits.nbr_audits %}
          <br />
          <div class="row">
            <h5 class="modal-title">{{ partner_info.audits.nbr_audits }} Audit(s) in {{ year }}</h5>
          </div>
          <br />
          <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="col-md-6">
              <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
              {{ partner_info.audits.last_audit }}
              <a href="https://etools.unicef.org/ap/audits/{{ partner_info.audits.last_audit.id }}" target="_blank">
                <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
              </a>
            </div>
          </div>
        {% endif %}

        {% if partner_info.micro_assessments.nbr_audits %}
          <br />
          <div class="row">
            <h5 class="modal-title">{{ partner_info.micro_assessments.nbr_audits }} Micro assessment(s) in {{ year }}</h5>
          </div>
          <br />
          <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="col-md-6">
              <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
              {{ partner_info.micro_assessments.last_audit }}
              <a href="https://etools.unicef.org/ap/micro-assessments/{{ partner_info.micro_assessments.last_audit.id }}" target="_blank">
                <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
              </a>
            </div>
          </div>
        {% endif %}

        {% if partner_info.spot_checks.nbr_audits %}
          <br />
          <div class="row">
            <h5 class="modal-title">{{ partner_info.spot_checks.nbr_audits }} Spot Check(s) in {{ year }}</h5>
          </div>
          <br />
          <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="col-md-6">
              <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
              <!--{{ partner_info.spot_checks.last_audit }}-->
              <a href="https://etools.unicef.org/ap/spot-checks/{{ partner_info.spot_checks.last_audit.id }}" target="_blank">
                <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
              </a>
            </div>
          </div>
        {% endif %}

        {% if partner_info.special_visits.nbr_audits %}
          <br />
          <div class="row">
            <h5 class="modal-title">{{ partner_info.special_visits.nbr_audits }} Special Visit(s) in {{ year }}</h5>
          </div>
          <br />
          <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="col-md-6">
              <i class="fa fa-info-circle" style="font-size: 16px; color: #0089d2;"></i>
              {{ partner_info.special_visits.last_audit }}
              <a href="https://etools.unicef.org/ap/special-visits/{{ partner_info.special_visits.last_audit.id }}" target="_blank">
                <i class="fa fa-external-link" style="font-size: 16px; color: #0089d2;"></i>
              </a>
            </div>
          </div>
        {% endif %}

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
