{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}
{% block content %}
<style>
.collapse-all.active, .expanded-all.active {
  color: #0089d2;
}

</style>

<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
       <form action="{% url 'activityinfo:report_partner' %}" method="get" id="govform">
      <input type="hidden" name="ai_id" value="{{ database.ai_id }}" />
      <input type="hidden" name="indicator_id" value="{{ indicator.id }}" />
         <input type="hidden" name="governorate" value="" id="governorateinput" />

        <div class="page-title-heading" data-step="4" data-intro="Filter options by partner or governorate">
           <div class="page-title-icon">
              <i class="fa fa-fw icon-gradient bg-malibu-beach" aria-hidden="true" title="Copy to use filter"></i>
            </i>
          </div>
           <div class="dropdown d-inline-block">
              <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" name="governorate"id="filter_govs" style="min-width:150px;"
                      class="mb-2 mr-2 dropdown-toggle btn btn-outline-primary">{{selected_governorate_name}}</button>
              <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu governorates-drp" >
                 <a class="dropdown-item" data-value="0" href=""> All Governorate</a>
                   {% for gov in governorates %}
                  <a  value="{{ gov.location_adminlevel_governorate_code }}" onclick="selectGov('{{gov.location_adminlevel_governorate_code}}')"
                     {% if gov.location_adminlevel_governorate_code == selected_governorate %}class="dropdown-item active"
                     {% else %}class="dropdown-item" {% endif %}>
                    {{ gov.location_adminlevel_governorate }}</a>
                    {% endfor %}
              </div>
          </div>
    </div>
       </form>
        <div class="page-title-actions">
          <div class="d-inline-block" data-step="5"
            data-intro="If you need any assistance, here you can find the ActivityInfo database's focal point">
            <button type="button" data-toggle="tooltip" title="Database focal point: {{ database.focal_point }}
            <br />
            email: {{ database.focal_point.email }} " data-placement="bottom" data-html="true"
              class="btn-shadow mr-3 btn btn-outline-primary">
              <i class="fa fa-user"></i>
            </button>

            <a class="btn shadow mr-3 btn-outline-dark"
              href="mailto:{{ database.focal_point.email }}?subject=ActivityInfo: Inquiry about {{ database.label }} database"
              data-toggle="tooltip" data-placement="bottom" title="Send email to the database focal point">
              <i class="fa fa-envelope"></i>
            </a>

            <a class="btn shadow mr-3 btn-outline-warning" href="javascript:void(0);"
              onclick="javascript:introJs().setOption('showProgress', true).start();" data-toggle="tooltip"
              data-placement="bottom" title="Show me some tips">
             <i class="fa fa-lightbulb" aria-hidden="true"></i>
            </a>

          </div>
        </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-12">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <div class="card-title">
         <span> Dashboard - {{ database.label }} - {{ database.reporting_year }}</span>
            <div class="dropdown d-inline-block" data-intro="Download Dashboard report and raw data">
              <button type="button" aria-haspopup="true" aria-expanded="false" id="drop5" title="Download report"
                data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-link">
                <i class="fa fa-download"></i>
              </button>
              <div tabindex="-1" id="menu2" role="menu" aria-hidden="true" class="dropdown-menu" data-step="7" >
                <button type="button" tabindex="0" id="export1" class="dropdown-item">Partner Dashboard</button>
                <div tabindex="-1" class="dropdown-divider"></div>
                <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;" id="export2" role="menuitem" >Governorate dashboard</a>
                <div tabindex="-1" class="dropdown-divider"></div>
              </div>
            </div>
          </div>
          <div class="row col-md-12">
            <form style="width:100%" action="{% url 'activityinfo:report_partner' %}" method="get" id="indicator_form">
            <input type="hidden" name="ai_id" value="{{ database.ai_id }}"/>
            <input type="hidden" name="governorate" value="{{ selected_governorate }}"/>
              <input type="hidden" name="indicator_id" id="indicator_id" value="{{ indicator.id }}" />
          <div class="d-inline-block">
            <select class="d-inline-block select2" style="display:inline-block !important" data-style="btn-primary" data-live-search="true" name="indicator_id">
	             {% for item in indicators %}
                <option value="{{ item.id }}" {% if item.id == selected_indicator %}selected{% endif %} onselect="selectIndic('{{item.id}}')">{{ item.name }}</option>
               {% endfor %}
	          </select>

              <button type="submit" class="btn btn-outline-primary" style="margin-top:-20px">Go</button>
            </div>
<!--            <div  class="d-inline-block" data-intro="Go to specific Indicator">-->
<!--              <div class="dropdown d-inline-block ">-->
<!--              <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"-->
<!--                       name="indicator_id" id="filter_indicator"-->
<!--                      class="mb-2 mr-2 dropdown-toggle btn btn-outline-primary">{{selected_indicator_name}}</button>-->
<!--              <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu" >-->
<!--                    {% for item in indicators %}-->
<!--                  <a  style="white-space: normal; width:600px; font-size:12px;" value="{{ item.id }}" onclick="selectIndic('{{item.id}}')"-->
<!--                     {% if item.id == selected_indicator %}class="dropdown-item active"-->
<!--                     {% else %}class="dropdown-item" {% endif %}>-->
<!--                    {{ item.name }}</a>-->
<!--                    {% endfor %}-->
<!--              </div>-->
<!--          </div>-->
<!--            </div>-->
          </form>
          </div>

   </div>
      </div>
           <div class="main-card mb-3 card">
        <div class="card-body">
           <table id="exporttable1" content="{{ database.label }}_Partners_Dashboard.csv"
                           data-tableName="Dashboard - {{ database.label }} - {{ database.reporting_year }}"
                           class="table table-striped " style="width: 800px;">
                      <thead>
                        <tr>
                          <th style="vertical-align: middle;" content="Partner">Partner</th>
                          {% for month, month_name in months %}
                          <th content="{{ month_name }}"><span>{{ month_name }}</span></th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for partner in partners %}
                          <tr>
                            <th>{{ partner.partner_label }}</th>
                              {% for month, month_name in months %}
                                <td>
                                  {% get_indicator_value indicator month partner.partner_id selected_governorate as value %}
                                  {{ value }}
                                </td>
                              {% endfor %}
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
        </div>
           </div>

          <div class="main-card mb-3 card">
        <div class="card-body">
           <table id="exporttable2" content="{{ database.label }}_Governorates_Dashboard.csv"
                           data-tableName="Dashboard - {{ database.label }} - {{reporting_year}}"
                           class="table table-striped " style="width: 800px;">
                      <thead>
                        <tr>
                          <th style="vertical-align: middle;" content="Governorate">Governorate</th>
                          {% for month, month_name in months %}
                            <th content="{{ month_name }}">{{ month_name }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for gov in governorates %}
                          <tr>
                            <th>{{ gov.location_adminlevel_governorate }}</th>
                              {% for month, month_name in months %}
                                <td>
                                  {% get_indicator_value indicator month selected_partner gov.location_adminlevel_governorate_code as value %}
                                  {{ value }}
                                </td>
                              {% endfor %}
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
        </div>
          </div>

    </div>
  </div>
    <div class="row">
      <div class="col-lg-8">
         <div id="mapView" ></div>
      </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
 <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>
  <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<link href="{% static 'css/select2.min.css'%}" rel="stylesheet" />
<script src="{% static 'js/select2.min.js' %}"></script>
{% include 'activityinfo/map.html' %}
<script>

  $('.select2').select2({
  width: null,
});

  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
};

function selectGov(gov){
$("#govform #governorateinput").val(gov);
$("#govform").submit();

}

function selectIndic(indicator){
$("#indicator_form #indicator_id").val(indicator);
$("#indicator_form").submit();

}

  $(document).ready(function () {

    var id = getUrlParameter('ai_id');
    var selected_li=$('li#'+id).find('a');
    var parent = selected_li.parent();
    parent.addClass("mm-active");
    selected_li.addClass("mm-active");

  var rep_year= getUrlParameter('rep_year');


function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename, table_head, table_body) {
	var csv = [];
	 $("tr:hidden,td:hidden","table_body").remove();
	var rows_header = document.querySelectorAll(table_head);
	var rows = document.querySelectorAll(table_body);

    for (var i = 0; i < rows_header.length; i++) {
		var row = [], cols = rows_header[i].querySelectorAll("th");

        for (var j = 0; j < cols.length; j++)
            row.push($(cols[j]).attr('content'));

    csv.push(row.join(","));
	}

  for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++) {
            if($(cols[j]).attr('colspan') == '2') {
              row.push('');
            }
            row.push('"'+cols[j].innerText+'"');
        }

		csv.push(row.join(","));
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.querySelector("#export1").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    var file_name = $("#exporttable1").attr("content");
	  export_table_to_csv(html, file_name, "table#exporttable1 thead tr", "table#exporttable1 tbody tr");
});

document.querySelector("#export2").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    var file_name = $("#exporttable2").attr("content");
	  export_table_to_csv(html, file_name, "table#exporttable2 thead tr", "table#exporttable2 tbody tr");
});


});
</script>

{% endblock %}
