{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}

{% block project_title %}{% endblock %}

{% block content %}

<div class="app-main__inner">
  <div class="app-page-title">
      <form action="{% url 'activityinfo:report_crisis' %}" method="get">
      <div class="page-title-wrapper">
        <input type="hidden" name="ai_id" value="{{ database.ai_id }}"/>
        <div class="page-title-heading" style="width:100%" data-step="4" data-intro="Filter options by partner or governorate or month">
          <div class="page-title-icon">
            <i class="fa fa-fw icon-gradient bg-malibu-beach" aria-hidden="true" title="Copy to use filter"></i>
            </i>
          </div>
          <div style="width:100%; margin-top:12px">
            <div class="row">
              <div class="col-lg-10 col-sm-12">
                <select class="btn btn-outline-primary" multiple="multiple" id="filter_partners" name="partners">
                {% for partner in partners %}
                <option class="dropdown-item" value="{{ partner.partner_id }}"
                        {% if partner.partner_id in selected_partners %}selected{% endif %}>{{ partner.partner_label }}
                </option>
                {% endfor %}
              </select>
              <select class="btn btn-outline-primary" multiple="multiple" id="filter_governorates" name="governorates">
                {% for gov in governorates %}
                <option class="dropdown-item" value="{{ gov.location_adminlevel_governorate_code }}" {% if gov.location_adminlevel_governorate_code in selected_governorates %}selected{% endif %}>
                  {{ gov.location_adminlevel_governorate }}
                </option>
                {% endfor %}
              </select>
              <select class="btn btn-outline-primary" multiple="multiple" id="filter_month" name="s_months">
                 {% for month, month_name in months %}
                <option class="dropdown-item" value="{{ month }}" {% if month|stringformat:"i" in selected_months %} selected {% endif %}>
                  {{ month_name }}
                </option>
                {% endfor %}
              </select>
            <button type="submit" class="btn btn shadow btn-primary mr-left-5" title="Search"><i style="font-weight:bolder" class="pe-7s-search"></i></button>
              <a href="{% url 'activityinfo:report_crisis' %}?ai_id={{ database.ai_id }}"title="Cancel"
                 class="btn btn-light d-inline-block"><i class="fa fa-fw" aria-hidden="true"></i></a>

            </div>
            <div class="col-lg-2 col-sm-12" style="padding:0;" data-intro="If you need any assistance, here you can find the ActivityInfo database's focal point">

              <button type="button" data-toggle="tooltip" title="Database focal point: {{ database.focal_point }}
            <br />
            email: {{ database.focal_point.email }} " data-placement="bottom" data-html="true"
                    class="btn-shadow  btn btn-outline-primary">
              <i class="fa fa-user"></i>
            </button>

            <a class="btn shadow  btn-outline-dark"
               href="mailto:{{ database.focal_point.email }}?subject=ActivityInfo: Inquiry about {{ database.label }} database"
               data-toggle="tooltip" data-placement="bottom" title="Send email to the database focal point">
              <i class="fa fa-envelope"></i>
            </a>

            <a class="btn shadow  btn-outline-warning" href="javascript:void(0);"
               onclick="javascript:introJs().setOption('showProgress', true).start();" data-toggle="tooltip"
               data-placement="bottom" title="Show me some tips">
              <i class="fa fa-lightbulb" aria-hidden="true"></i>
            </a>
            </div>
          </div>
            <div class="page-title-subheading">
              Filter by multiple Partners, Governorates, and Months
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="main-card mb-3 card">
        <div class="card-header">
          <i class="header-icon"> </i>
            {{ database.label }}
          <div class="btn-actions-pane-right">
<!--            {% url 'activityinfo:report_internal' %}?rep_year=2020&ai_id={{ database.ai_id }}-->
            <a href="{% url 'activityinfo:report_internal' %}?rep_year=2020&ai_id={{ database.ai_id }}" class="link">
             <i class="nav-link-icon fa fa-fw"></i>
             <span>Internal Reporting</span>
            </a>
          </div>
      </div>
        <div class="card-body">
           <div class="table-responsive">
            <table class="mb-0 table table-striped table-hover" id="exportheader">
              <thead>
              <tr>
                <th content="Indicator Name"> Indicator Name</th>
                <th content="Cumulative Results of All Months" title="Cumulative Results of All Months">Cumulative Results
                </th>
                {% for month, month_name in months %}
                <th content="{{ month_name }}">{{ month_name }}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {% for item in master_indicators %}
              {% get_indicator_cumulative_months item selected_months selected_partners selected_governorates as cumulative_value %}
              {% to_display_indicator selected_filter cumulative_value as display_indicator %}
              {% if display_indicator %}
              <tr itemid="{{ item.id }}"
                  {% if item.master_indicator %}class="level1 master_indicator"
                  {% elif item.individual_indicator %}class="level1 individual_indicator" {% endif %}>
                <td class="w-150">
                  {{ item.name }}
                  <a href="{% url 'activityinfo:report_partner' %}?rep_year=2020&ai_id={{ database.ai_id }}&indicator_id={{ item.id }}"
                    target="_blank" class="text-info" data-toggle="tooltip" title="View Partners' Results">
                    <i class="fa fa-users" aria-hidden="true" title=""></i>
                  </a>
                </td>
                <td class="w-5">
                  {{ cumulative_value }}
                </td>
                {% for month, month_name in months %}
                <td class="w-5">
                  {% get_indicator_value item month selected_partners selected_governorates as value %}
                  {{ value }}
                </td>
                {% endfor %}
              </tr>
              {% get_sub_indicators_data item.id as sub_indicators %}
              {% for item1 in sub_indicators %}
              <tr class="level2 level2-{{ item.id }}" itemid="{{ item.id }}-{{ item1.id }}"
                  {% if item1.master_indicator_sub %}style="background-color: #ca292940; border-bottom:2px solid #fff"
                  {% elif item.individual_indicator %}style="background-color:#2d2d2d; border-bottom:2px solid #fff" {% endif %}>
                {% if item1.master_indicator_sub %}
                <td class="w-150">
                  {{ item1.name }}
                  <a href="{% url 'activityinfo:report_partner' %}?rep_year={{ reporting_year }}&ai_id={{ database.ai_id }}&indicator_id={{ item1.id }}"
                    target="_blank" class="text-info" data-toggle="tooltip" title="View Partners' Results">
                    <i class="fa fa-users" aria-hidden="true" title=""></i>
                  </a>
                </td>
                {% else %}
                <td class="w-100">
                  {{ item1.name }}
                </td>
                {% endif %}
                <td class="w-5">
                    {% get_indicator_cumulative_months item1 selected_months selected_partners selected_governorates as cumulative_value %}
                  {{ cumulative_value }}
                </td>
                {% for month, month_name in months %}
                <td class="w-5">
                  {% get_indicator_value item1 month selected_partners selected_governorates as value %}
                  {{ value }}
                </td>
                {% endfor %}
              </tr>
               {% endfor %}
              {% get_sub_indicators_data item1.id as sub_indicators1 %}
              {% for item2 in sub_indicators1 %}
              {% if item2.master_indicator == 0 and item2.master_indicator_sub == 0 %}
              <tr class="level3 level3-{{ item.id }} level3-{{ item.id }}-{{ item1.id }}"
                  {% if item.individual_indicator %} class="individual" style="background-color: #dedede;" {% endif %}
                  itemid="{{ item.id }}-{{ item1.id }}-{{ item2.id }}">
                <td class="w-150">{{ item2.name }}</td>
                <td></td>
                {% for month, month_name in months %}
                <td class="w-10">
                  {% get_indicator_value item2 month selected_partners selected_governorates as value %}
                  {{ value }}
                </td>
                {% endfor %}
              </tr>
              {% endif %}
              {% endfor %}
                    {% endif %}
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>
<script src="{% static 'js/bootstrap-multiselect.min.js' %}"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<script>

  $(document).ready(function () {


    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
};

    var id = getUrlParameter('ai_id');
    var selected_li=$('li#'+id).find('a');
    var parent = selected_li.parent();
    parent.addClass("mm-active");
    selected_li.addClass("mm-active");

  $('#filter_partners').multiselect({
    buttonWidth : '180px',
    includeSelectAllOption : true,
		nonSelectedText: 'Partners',
		nSelectedText:'selected partners',
		numberDisplayed:1
  });
   $('#filter_governorates').multiselect({
    buttonWidth : '190px',
    includeSelectAllOption : true,
		nonSelectedText: 'Governorates',
		nSelectedText:'selected governorates',
		numberDisplayed:1
  });

$('#filter_month').multiselect({
    buttonWidth : '180px',
    includeSelectAllOption : true,
		nonSelectedText: 'Months',
		nSelectedText:'selected months',
		numberDisplayed:1
  });

  });







</script>

{% endblock %}
