{% extends "base.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}

{% block project_title %}Neuro-DB{% endblock %}

{% block content %}
<!-- top tiles -->
<!-- /top tiles -->

<style>
  div.panel-footer {
    background-color: #fff !important;
  }
  p {
    background-color: #f7f9fa;
    padding: 10px;
    border-radius: 10px;
  }
  .sidebar-box {
    max-height: 120px;
    position: relative;
    overflow: hidden;
  }
  .sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    opacity: 0.9;
  }
  .btn-filter.on {
    background-color: #0089d2;
    color: white;
  }
  .btn-filter-no.on {
    background-color: #0089d2;
    color: white;
  }
  span.trip-planned {
    background-color: rgba(250,237,119,.6);
  }
  span.trip-submitted {
    background-color: rgba(206,188,6,.6);
  }
  span.trip-approved {
    background-color: rgba(141,198,63,.45);
  }
  span.trip-completed {
    background-color: rgba(141,198,63,1);
  }
  .x_title span.label {
      color: white;
  }
  div.trip-filter {
    cursor: pointer;
  }
  .travel-counts .label {
    cursor: pointer;
  }
  #mapView {
    height: 500px;
    border: 1px solid;
  }
  #myTabContent {
    padding-top: 10px;
  }
  div.count.active a {
    color: #0089d2;
  }
  .bootstrap-select button.dropdown-toggle {
     background-color: #337ab7;
     color: white !important;
  }
  #filters {
    height: 250px;
    border: 1px solid;
  }
  .filter-content {
    <!--border-left: 1px solid;-->
    <!--padding: 2px;-->
    <!--margin-top: 5px;-->
    <!--padding-left: 15px;-->
  }
  .bootstrap-select {
      width: 150px !important;
  }
  #chart1, #chart2, #chart3, #chart4, #chart5, #chart6 {
      border: 1px solid;
      height: 250px;
  }
</style>

<!-- top tiles -->
<div class="row" style="clear: both;">

<form action="{% url 'activityinfo:report_map' %}" method="get">
    <input type="hidden" name="ai_id" value="{{ database.ai_id }}" />
    <div class="col-md-2 col-sm-4 col-xs-6" style="overflow: unset !important;" data-step="4" data-intro="Filter options by partner">
        <select class="selectpicker show-tick" data-actions-box="true" multiple title="Partner" name="partner" data-style="btn-info" id="filter_partners">
            {% for partner in partners %}
                <option value="{{ partner.partner_id }}" {% if partner.partner_id == selected_partner %}selected{% endif %}>{{ partner.partner_label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="overflow: unset !important;">
        <select class="selectpicker show-tick" data-actions-box="true" multiple title="Governorate" name="governorate" data-style="btn-info" id="filter_govs">
            {% for gov in governorates %}
                <option value="{{ gov.location_adminlevel_governorate_code }}" {% if gov.location_adminlevel_governorate_code == selected_governorate %}selected{% endif %}>{{ gov.location_adminlevel_governorate }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="overflow: unset !important;">
        <select class="selectpicker show-tick" data-actions-box="true" multiple title="Caza" name="caza" data-style="btn-info" id="filter_cazas">
            {% for caza in cazas %}
                <option value="{{ caza.location_adminlevel_caza_code }}" {% if caza.location_adminlevel_caza_code == selected_caza %}selected{% endif %}>{{ caza.location_adminlevel_caza }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="overflow: unset !important;">
        <select class="selectpicker show-tick" data-actions-box="true" multiple title="Indicator Category" name="indicator_category" data-style="btn-info" id="filter_icategories">
            {% for icategory in indicator_categories %}
                <option value="{{ icategory.indicator_category }}">{{ icategory.indicator_category }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="overflow: unset !important;">
        <select class="selectpicker show-tick" data-actions-box="true" multiple title="Form Category" name="form_category" data-style="btn-info" id="filter_fcategories">
            {% for fcategory in form_categories %}
                <option value="{{ fcategory.form_category }}">{{ fcategory.form_category }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="overflow: unset !important;">
        <select class="selectpicker show-tick" data-actions-box="true" multiple title="Month" name="month" data-style="btn-info" id="filter_month">
            {% for month in months %}
                <option value="{{ month.month }}">{{ month.month_name }}</option>
            {% endfor %}
        </select>
    </div>
    <!--<div class="col-md-2 col-sm-4 col-xs-6" style="overflow: unset !important;" data-step="5" data-intro="Filter options by Caza">-->
        <!--<select class="selectpicker show-tick" title="Select a Donor" name="donor" data-style="btn-info" id="filter_donors">-->
            <!--<option value="">All Donors</option>-->
            <!--{% for donor in donors %}-->
                <!--<option value="{{ donor }}" {% if donor == selected_donor %}selected{% endif %}>{{ donor }}</option>-->
            <!--{% endfor %}-->
        <!--</select>-->
    <!--</div>-->
    <div class="col-md-2">
      <button type="submit" class="btn btn-success">Search</button>
      <a href="{% url 'activityinfo:report_map' %}?ai_id={{ database.ai_id }}" class="btn btn-warning">Cancel</a>
    </div>

</form>
</div>

<div class="row" style="">
  <div class="w-1002 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">

        <div class="row" id="">

          <div id="mapView" class="col-lg-3"></div>

          <div id="chart1" class="col-lg-3">
            test
          </div>
          <div id="chart2" class="col-lg-3">
            test
          </div>

          <div id="chart3" class="col-lg-3">
            test
          </div>

          <div id="chart4" class="col-lg-3">
            test
          </div>
          <div id="chart5" class="col-lg-3">
            test
          </div>

          <div id="chart6" class="col-lg-3">
            test
          </div>

        </div>

      </div>
      {% csrf_token %}
    </div>
  </div>
</div>

<br />

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>
  <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>

  <link rel="stylesheet" href="https://js.arcgis.com/4.11/esri/css/main.css">
  <script src="https://js.arcgis.com/4.11/"></script>
  <script type="text/javascript" src="{% static 'js/indexedDB.js' %}"></script>

<script>
    var user_token = '{{ user_token }}';
    var href_full_path = '{{ request.build_absolute_uri }}';
    var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
    var points = '{{ locations|safe }}';
    points = JSON.parse(points);

    var symbol = {
      style: "square",
      color: "blue",
      size: "8px",  // pixels
      outline: {  // autocasts as new SimpleLineSymbol()
        color: [ 255, 255, 0 ],
        width: 3  // points
      }
    };

    var symbol_icon = {
      url: "{% static 'images/location-map-pin.png' %}",
      height:34,
      width:24,
    };

    var markerSymbol = {
      type: "picture-marker", // autocasts as new SimpleMarkerSymbol()
      url: "{% static 'images/location-map-pin.png' %}",
      height:34,
      width:24,
    };

    var view = null;
    var pointGraphic = null;

    var oTable = null;
    var db = null;

    $(document).ready(function(){

        createStores();

        $('ul.child_menu').hide();

        require([
          "esri/Map",
          "esri/views/MapView",
          "esri/symbols/SimpleMarkerSymbol",
          "esri/symbols/PictureMarkerSymbol",
          "esri/geometry/Point",
          "esri/Graphic",
        ], function(Map, MapView, SimpleMarkerSymbol, PictureMarkerSymbol, Point, Graphic) {

          var map = new Map({
              basemap: "topo-vector"
          });

          view = new MapView({
            container: "mapView",
            map: map,
            center: [35.8411, 33.6513],
            zoom: 8
          });

          <!--pointGraphic = new Graphic({-->
            <!--geometry: {-->
              <!--type: "point",-->
              <!--longitude: 0,-->
              <!--latitude: 0-->
            <!--},-->
            <!--symbol: markerSymbol,-->
            <!--attributes: {},-->
            <!--popupTemplate: {-->
              <!--title: "",-->
              <!--content: ""-->
            <!--}-->
          <!--});-->

          return true;
          view.graphics.removeAll();

          setTimeout(function(){

             $(points).each(function(i, item){

                setTimeout(function(){

                    var lineAtt = {
                      Name: item.location_name,
                      Caza: item.caza,
                      Cadastral: item.cadastral,
                      Governorate: item.governorate,
                    };

                    var content = '<p>{Governorate} - {Cadastral} - {Caza}</p>';
                    content = content + '<div class="list-group"><a href="#" class="list-group-item active"><strong>Indicators</a></strong>';
                    $(item.indicators).each(function(j, item1){
                        content = content + '<a href="#" class="list-group-item">'+item1.indicator_name+' <span class="label label-primary">'+item1.cumulative_value+'</span> <span class="label label-primary">'+item1.indicator_units+'</span> ('+item1.partner_label+')</a>';
                    });
                    content = content + '</div>';

                    var pointGraphic = new Graphic({
                      geometry: {
                        type: "point",
                        longitude: item.location_longitude,
                        latitude: item.location_latitude
                      },
                      symbol: markerSymbol,
                      attributes: lineAtt,
                      popupTemplate: {
                        title: "{Name}",
                        content: content
                      }
                    });

                    view.graphics.add(pointGraphic);

                }, 3000);

            });

          }, 9000);


        });
    });

function createStores()
{
    var request = indexedDB.open("mapping", 1);
    request.onupgradeneeded = function() {
        // The database did not previously exist, so create object stores and indexes.
        db = request.result;
        var flag = false;
        try {
            if(!db.objectStoreNames().contains('mapping')) {
                flag = true;
            }
        }catch(err) {
            flag = true;
        }
        if(flag){
            var store = db.createObjectStore("mapping", {keyPath: "id", autoIncrement:true});
            store.createIndex('cadastral', 'cadastral');
            store.createIndex('caza', 'caza');
            store.createIndex('governorate', 'governorate');
            <!--store.createIndex('classroomAndSection', ['classroom', 'section']);-->
        }
    };
    request.onsuccess = function() {
        db = request.result;
        $(".loader").show();
        load_map();
        setTimeout(function(){
            $(".loader").hide();
        }, 5000);
    };
}

function load_map()
{
    $(points).each(function(i, item){
        var store = getStoreByName('mapping');
        store.add(item);
    });
    <!--draw_map();-->
}

function draw_map()
{
          <!--view.graphics.removeAll();-->

          setTimeout(function(){

             $(points).each(function(i, item){

                setTimeout(function(){

                    var lineAtt = {
                      Name: item.location_name,
                      Caza: item.caza,
                      Cadastral: item.cadastral,
                      Governorate: item.governorate,
                    };

                    var content = '<p>{Governorate} - {Cadastral} - {Caza}</p>';
                    content = content + '<div class="list-group"><a href="#" class="list-group-item active"><strong>Indicators</a></strong>';
                    $(item.indicators).each(function(j, item1){
                        content = content + '<a href="#" class="list-group-item">'+item1.indicator_name+' <span class="label label-primary">'+item1.cumulative_value+'</span> <span class="label label-primary">'+item1.indicator_units+'</span> ('+item1.partner_label+')</a>';
                    });
                    content = content + '</div>';

                    var pointGraphic = new Graphic({
                      geometry: {
                        type: "point",
                        longitude: item.location_longitude,
                        latitude: item.location_latitude
                      },
                      symbol: markerSymbol,
                      attributes: lineAtt,
                      popupTemplate: {
                        title: "{Name}",
                        content: content
                      }
                    });

                    view.graphics.add(pointGraphic);

                }, 3000);

            });

          }, 9000);
}


</script>

{% endblock %}
