{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}

{% block project_title %}{% endblock %}
{% block filter %}

{% include "activityinfo/focalpoints.html" %}

{% endblock filter %}
{% block content %}


<div class="app-main__inner">
  <div class="app-page-title">

    <form action="{% url 'activityinfo:report_crisis' %}" method="get" id="filterForm"
          data-partner-url="{% url 'activityinfo:ajax_load_partners' %}"
          data-sections-url="{% url 'activityinfo:ajax_load_sections' %}"
          data-govs-url="{% url 'activityinfo:ajax_load_govs' %}"
          data-month-url="{% url 'activityinfo:ajax_load_months' %}">
      <div class="page-title-wrapper">
        <input type="hidden" id="ai_id" name="ai_id" value="{{ database.ai_id }}"/>
        <div class="page-title-heading" style="width:100%" data-step="4"
             data-intro="Filter options by partner or governorate or month">
          <div class="page-title-icon">
            <i class="fa fa-fw icon-gradient bg-malibu-beach" aria-hidden="true" title="Copy to use filter"></i>
          </div>
          <div style="width:100%; margin-top:12px">
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <select class="btn btn-outline-primary" multiple="multiple" id="filter_partners" name="partners">
                  {% for partner in partners %}
                  <option class="dropdown-item" value="{{ partner.partner_id }}"
                          {% if partner.partner_id in selected_partners %}selected{% endif %}>{{ partner.partner_label }}
                  </option>
                  {% endfor %}
                </select>
                <select id="filter_section" class="btn btn-outline-primary" multiple="multiple" name="sections">
                  {% for reporting_section in sections %}
                  <option value="{{ reporting_section.reporting_section }}" {% if reporting_section.reporting_section in selected_sections %} selected {% endif %}>{{ reporting_section.reporting_section }}
                  </option>
                  {% endfor %}
                </select>
                <select class="btn btn-outline-primary" multiple="multiple" id="filter_governorates"
                        name="governorates">
                  {% for gov in governorates %}
                  <option class="dropdown-item" value="{{ gov.location_adminlevel_governorate_code }}" {% if gov.location_adminlevel_governorate_code in selected_governorates %}selected{% endif %}>
                    {{ gov.location_adminlevel_governorate }}
                  </option>
                  {% endfor %}
                </select>
                <select class="btn btn-outline-primary" multiple="multiple" id="filter_month" name="months">
                  {% for month, month_name in months %}
                  <option class="dropdown-item" value="{{ month }}" {% if month in selected_months %} selected {% endif %}>
                    {{ month_name }}
                  </option>
                  {% endfor %}
                </select>
                <select class="btn btn-outline-primary" id="filter_type" name="filter_type">
                  <option class="dropdown-item" value="">Global / Local</option>
                  {% if selected_type == 'Global' %}
                  <option class="dropdown-item" selected value="Global">Global</option>
                  {% else %}
                  <option class="dropdown-item" value="Global">Global</option>
                  {% endif %}
                  {% if selected_type == 'Local' %}
                  <option class="dropdown-item" selected value="Local">Local</option>
                  {% else %}
                  <option class="dropdown-item" value="Local">Local</option>
                  {% endif %}
                </select>
                <button type="submit" class="btn btn shadow btn-primary mr-left-5" onclick="$('#loading').show();"
                        title="Search">
                  <i style="font-weight:bolder" class="pe-7s-search"></i>

                </button>

                <a href="{% url 'activityinfo:report_crisis' %}?ai_id={{ database.ai_id }}" title="Cancel"
                   class="btn btn-light d-inline-block"><i class="fa fa-fw" aria-hidden="true"></i></a>
                  <div id="loading" class="d-inline-block" style="display:none !important">
                  <img src="/static/images/loader.gif" width="40px" height="40px" alt=""/>
                </div>
              </div>
            </div>
            <div class="page-title-subheading">
              Filter by multiple Partners, Governorates, and Months
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
          <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
            <span>Quantitative Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
            <span>Qualitative Dashboard</span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane tabs-animation active show" id="tab-content-0" role="tabpanel">

          <div class="main-card mb-3 card">
            <div class="card-header">

              <i class="header-icon">  <span data-step="6" data-intro="Collapse / Expand master indicators">
              <a href="#" class="collapse-all active"><i class="fa fa-th-large"></i></a>
              <a href="#" class="expanded-all"><i
                class="fa fa-bars"></i></a>
            </span> </i>

              {{ database.label }}
              <div class="d-inline-block dashboard_icons">

                <a href="{% url 'activityinfo:report_crisis_visual' %}?ai_id={{ database.ai_id }}" data-toggle="tooltip"
                   data-placement="top" title="Infographic" class="text-primary"
                   data-step="9" data-intro="Open Infographic">
                  <i class="pe-7s-display2"></i>
                </a>

                <a href="{% url 'activityinfo:report_crisis_live' %}?ai_id={{ database.ai_id }}" data-toggle="tooltip"
                   data-placement="top" title="Live Data Monitoring" class="text-danger"
                   data-step="9" data-intro="Open live ActivityInfo Dashboard">
                  <i class="pe-7s-signal"></i>
                </a>
                <a href="{% url 'activityinfo:report_crisis_tags' %}?ai_id={{ database.ai_id }}" data-toggle="tooltip"
                   data-placement="top" title="Indicators Data Disaggregated" class="text-success">
                  <i class="pe-7s-ticket"></i>
                </a>
                <a href="{% url 'activityinfo:report_crisis_disability' %}?ai_id={{ database.ai_id }}" data-toggle="tooltip"
                   data-placement="top" title="Disability Report" class="text-warning"
                   data-step="16" data-intro="Disability report">
                  <i class="pe-7s-delete-user"></i>
                </a>

                <a
                  href="{% url 'activityinfo:report_partner_crisis' %}?rep_year={{ database.reporting_year.year }}&ai_id={{ database.ai_id }}"
                  target="_blank" class="text-info" data-toggle="tooltip" title="View Partners' Results">
                  <i class="pe-7s-users" aria-hidden="true" title=""></i>
                </a>

              </div>
              <div class="dropdown d-inline-block" data-intro="Download Dashboard report and Raw Data">
                <button type="button" aria-haspopup="true" aria-expanded="false" id="drop5" title="Download report"
                        data-toggle="dropdown" class="mb-2 mr-2 mt-2 dropdown-toggle btn btn-link">
                  <i class="pe-7s-download"></i>
                </button>
                <div tabindex="-1" id="menu2" role="menu" aria-hidden="true" class="dropdown-menu" data-step="7">
                  <a type="button" tabindex="0" id="export1" class="dropdown-item" style="text-transform: none;">Current
                    Dashboard</a>
                  <div tabindex="-1" class="dropdown-divider"></div>
                  <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;"
                     href="{% url 'activityinfo:export' %}?ai_id={{ database.ai_id }}&month={{ month }}&format=mapping_extraction3">
                    Raw Data</a>
                  <div tabindex="-1" class="dropdown-divider"></div>
                </div>
              </div>
              <div class="btn-actions-pane-right">
                <a href="{% url 'activityinfo:report_internal' %}?rep_year=2020&ai_id={{ database.ai_id }}"
                   class="link">
                  <i class="nav-link-icon pe-7s-edit" style="font-size:25px;"></i>
                  <span>Internal Reporting</span>
                </a>
              </div>
            </div>
            <div class="card-body">

              <div class="table-responsive">
                <table class="mb-0 table table-striped table-hover" id="exportheader"
                       content="{{ database.label }}_Dashboard_ {{ current_month_name}}_{{ database.reporting_year.year }}.csv"
                       data-tableName="Dashboard - {{ database.label }}-{{ current_month_name}}_{{ database.reporting_year.year }}">
                  <thead>
                  <tr>
                    <th content="Indicator Name"> Indicator Name</th>
                    <th content="Pillars">Pillar</th>
                    <th content="Global/LCO">Global/Local</th>
                    <th content="Unit">Unit</th>
                    <th content="Cumulative Results of All Months" title="Cumulative Results of All Months">Cumulative
                      Results
                    </th>
                    {% for month, month_name in months %}
                    <th content="{{ month_name }}">{{ month_name }}</th>
                    {% endfor %}
                  </tr>
                  </thead>
                  <tbody>
                    {% for item in indicators %}
                      <tr itemid="{{ item.id }}"
                                {% if item.master_indicator and item.is_imported %}class="level1 imported_indicator collapsed"
                                {% elif item.individual_indicator %}class="level1 individual_indicator collapsed"
                                {% elif item.master_indicator %}class="level1 master_indicator collapsed"
                                {% endif %}>
                              <td class="w-150">{{ item.name }}
                                {% if item.is_imported %}
                                 {% get_database_by_activity item.activity as db_name %}
                                 <a  data-toggle="tooltip" data-placement="right" title="{{db_name.label}}" style="cursor:pointer">
                                 <img alt="" src="{% static db_name.section.logo %}"  style="height: 30px; width: 30px; display: inline-block;" />
                                 </a>
                                {% endif %}
                                {% if item.hpm_global_indicator %}
                                <a data-toggle="tooltip" data-placement="right" title="HPM" style="cursor:pointer">
                                  <i class="pe-7s-global text-primary"> </i>
                                </a>
                                {% endif %}
                              </td>
                              <td class="w-5">{{ item.category}}</td>
                              <td class="w-5">
                                {{ item.tag_focus__label }}
                              </td>
                              <td class="w-5">
                                {{ item.units }}
                              </td>
                              <td class="w-5">{{ item.cumulative }}</td>
                              {% for month, month_name in months %}
                              <td class="w-5">
                                {% if item.is_imported %}
                                {% get_indicator_value_section item month selected_partners selected_governorates  as value %}
                                {% else %}
                                 {% get_indicator_value_section item month selected_partners selected_governorates selected_sections as value %}
                                {% endif %}
                                {{ value }}
                              </td>
                              {% endfor %}
                            </tr>
                      {% for item1 in item.sub_list_filtered %}
                      <tr class="level2 level2-{{ item.id }} collapsed" itemid="{{ item.id }}-{{ item1.id }}"
                                {% if item1.is_imported %}style="background-color:rgba(252, 255, 174, 0.38); border-bottom:2px solid #fff"
                                {% elif item1.master_indicator_sub %}style="background-color:hsla(0, 100%, 70%, 0.3);border-bottom:2px solid #fff;"
                                {% elif item1.individual_indicator %}style="background-color:#2d2d2d; border-bottom:2px solid #fff" {% endif %}>
                              <td class="w-150">
                                {{ item1.name }}
                                 {% if item1.is_imported %}
                                 {% get_database_by_activity item1.activity as db_name %}
                                 <a  data-toggle="tooltip" data-placement="right" title="{{db_name.label}}" style="cursor:pointer">
                                 <img alt="" src="{% static db_name.section.logo %}"  style="height: 30px; width: 30px; display: inline-block;" />
                                 </a>
                                {% endif %}

                              </td>
                              <td class="w-5">
                                {% if item1.master_indicator_sub %}
                                {{ item1.category}}
                                {% endif %}
                              </td>
                              <td class="w-5">
                                {% if item1.master_indicator_sub %}
                                {{ item.tag_focus__label }}
                                {% endif %}
                              </td>
                              <td class="w-5">
                                {% if item1.master_indicator or item1.master_indicator_sub %}
                                {{ item1.units }}
                                {% endif %}

                              </td>
                              <td class="w-5">
                                 {{ item1.cumulative }}
                              </td>
                              {% for month, month_name in months %}
                              <td class="w-5">
                               {% if item.is_imported %}
                                {% get_indicator_value_section item1 month selected_partners selected_governorates  as value %}
                                {% else %}
                                 {% get_indicator_value_section item1 month selected_partners selected_governorates selected_sections as value %}
                                {% endif %}
                                {{ value }}
                              </td>
                              {% endfor %}
                            </tr>
                      {% for item2 in item1.sub_list_filtered %}
                      {% if item2.master_indicator == 0   %}
                        <tr class="level3 level3-{{ item.id }} level3-{{ item.id }}-{{ item1.id }} collapsed"
                      {% if item2.master_indicator_sub %}style="background-color:hsla(0, 100%, 70%, 0.3);border-bottom:2px solid #fff;"{% endif %}
                      {% if item2.individual_indicator %} class="individual" style="background-color: #dedede;" {% endif %}
                      itemid="{{ item.id }}-{{ item1.id }}-{{ item2.id }}">
                    <td class="w-150"> {{item2.name }}</td>
                    <td class="w-5"></td>
                    <td class="w-5"></td>
                    <td class="w-5">
                     {% if item2.master_indicator_sub %}
                      {{ item2.units }}
                      {% endif %}
                    </td>
                    <td class="w-5">
                        {{ item2.cumulative }}
                    </td>
                    {% for month, month_name in months %}
                    <td class="w-5">
                      {% if item.is_imported %}
                      {% get_indicator_value_section item2 month selected_partners selected_governorates  as value %}
                      {% else %}
                      {% get_indicator_value_section item2 month selected_partners selected_governorates selected_sections as value %}
                      {% endif %}
                      {{ value }}
                    </td>
                    {% endfor %}
                  </tr>
                    {% endif %}
                   {% if item2.master_indicator == 0  %}
                     {% for item3 in item2.sub_list_filtered %}
                    {% if item3.master_indicator == 0 and item3.master_indicator_sub == 0 %}
                  <tr class="level4 level4-{{ item.id }} level4-{{ item.id }}-{{ item1.id }}-{{ item2.id }} collapsed"
                        {% if item.individual_indicator %} class="individual" style="background-color: #dedede;" {% endif %}
                        itemid="{{ item.id }}-{{ item1.id }}-{{ item2.id }}-{{ item3.id }}">
                      <td class="w-150">{{ item3.name}}</td>
                      <td class="w-5"></td>
                      <td class="w-5"></td>
                      <td class="w-5">
                      </td>
                      <td class="w-5">
                          {{ item3.cumulative }}
                      </td>
                      {% for month, month_name in months %}
                      <td class="w-5">
                        {% get_indicator_value_section item3 month selected_partners selected_governorates selected_sections as value %}
                        {{ value }}
                      </td>
                      {% endfor %}
                    </tr>
                  {% endif %}
                  {% endfor %}
                  {% endif %}

                   {% endfor %}
                   {% endfor %}
              {% endfor %}
              {% for item in covid_indicators %}
              {% get_database_by_activity item.activity as db_name %}
              <tr itemid="{{ item.id }}"
                  {% if item.master_indicator %}class="level1 master_indicator collapsed"
                  {% elif item.individual_indicator %}class="level1 individual_indicator" {% endif %}>
                <td class="w-150">{{ item.name }}
                  <a  data-toggle="tooltip" data-placement="right" title="{{db_name.label}}" style="cursor:pointer">
                   <img alt="" src="{% static db_name.section.logo %}"  style="height: 30px; width: 30px; display: inline-block;" />
                  </a>
                 {% if item.hpm_global_indicator %}
                  <a data-toggle="tooltip" data-placement="right" title="HPM" style="cursor:pointer">
                     <i class="pe-7s-global text-primary"> </i>
                  </a>
                  {% endif %}
                </td>
               <td class="w-5">{{ item.category}}</td>
                <td class="w-5">
                  </td>
                <td class="w-5">{{ item.units }}</td>
                <td class="w-5">{{ item.cumulative }}</td>
<!--                <td class="w-5">0</td>-->
<!--                <td class="w-5">0</td>-->
<!--                <td class="w-5">0</td>-->
                {% for month, month_name in months %}
                <td class="w-5">
                    {% if month == 1 or month == 2 or month == 3 %}
                    0
                    {% else %}
                  {% get_indicator_value item month selected_partners selected_governorates as value %}
                  {{ value }}
                  {% endif %}
                </td>
                {% endfor %}
              </tr>

              {% for item1 in item.sub_list_filtered %}
              <tr class="level2 level2-{{ item.id }} collapsed" itemid="{{ item.id }}-{{ item1.id }}"
                  {% if item1.master_indicator_sub %}style="background-color:hsla(0, 100%, 70%, 0.3);border-bottom:2px solid #fff;"
                  {% elif item.individual_indicator %}style="background-color:#2d2d2d; border-bottom:2px solid #fff" {% endif %}>
                 <td class="w-150">
                  {{ item1.name }}
                </td>
                 <td class="w-5">{{ item1.category}}</td>
                <td class="w-5"></td>
                 <td class="w-5">
                    {% if item1.master_indicator_sub %}
                   {{ item1.units }}
                   {% endif %}
                 </td>
                <td class="w-5">
                  {{ item1.cumulative }}
                </td>
                {% if selected_filter %}
                {% endif %}
<!--                <td class="w-5">0</td>-->
<!--                <td class="w-5">0</td>-->
<!--                <td class="w-5">0</td>-->
                {% for month, month_name in months %}
                <td class="w-5">
                  {% if month == 1 or month == 2 or month == 3 %}
                    0
                    {% else %}
                  {% get_indicator_value item1 month selected_partners selected_governorates as value %}
                  {{ value }}
                  {% endif %}
                </td>
                {% endfor %}
              </tr>
               {% endfor %}
              {% for item2 in item1.sub_list_filtered %}
                {% if item2.master_indicator == 0 and item2.master_indicator_sub == 0 %}
                <tr class="level3 level3-{{ item.id }} level3-{{ item.id }}-{{ item1.id }} collapsed"
                    {% if item.individual_indicator %} class="individual" style="background-color: #dedede;" {% endif %}
                    itemid="{{ item.id }}-{{ item1.id }}-{{ item2.id }}">
                  <td class="w-150">{{ item2.name }}</td>
                   <td class="w-5"></td>
                  <td class="w-5"></td>
                  <td class="w-5"></td>
                  <td class="w-5"></td>

<!--                  <td class="w-5">0</td>-->
<!--                  <td class="w-5">0</td>-->
<!--                  <td class="w-5">0</td>-->
                  {% for month, month_name in months %}
                  <td class="w-5">
                    {% if month == 1 or month == 2 or month == 3 %}
                    0
                    {% else %}
                    {% get_indicator_value item2 month selected_partners selected_governorates as value %}
                    {{ value }}
                    {% endif %}
                  </td>
                  {% endfor %}
                </tr>
                {% endif %}
              {% endfor %}
              {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
          <div class="main-card mb-3 card">
            <div class="card-header">
              <div class="card-title">{{ database.label }}
                <!--           <div class="dropdown d-inline-block" data-intro="Download Dashboard report and Raw Data">-->
                <!--              <button type="button" aria-haspopup="true" aria-expanded="false" id="drop5" title="Download report"-->
                <!--                      data-toggle="dropdown" class="mb-2 mr-2 mt-2 dropdown-toggle btn btn-link">-->
                <!--                <i class="fa fa-download"></i>-->
                <!--              </button>-->
                <!--              <div tabindex="-1" id="menu2" role="menu" aria-hidden="true" class="dropdown-menu" data-step="7">-->
                <!--                <button type="button" tabindex="0" id="export1" class="dropdown-item">Current dashboard</button>-->
                <!--                <div tabindex="-1" class="dropdown-divider"></div>-->
                <!--                <a type="button" tabindex="0" class="dropdown-item" style="text-transform: none;"-->
                <!--                   href="{% url 'activityinfo:export' %}?ai_id={{ database.ai_id }}&month={{ month }}&format=mapping_extraction3">-->
                <!--                  Raw Data</a>-->
                <!--                <div tabindex="-1" class="dropdown-divider"></div>-->
                <!--              </div>-->
                <!--            </div>-->
              </div>
              <div class="btn-actions-pane-right">
                <!--            <a href="{% url 'activityinfo:report_internal' %}?rep_year=2020&ai_id={{ database.ai_id }}" class="link">-->
                <!--             <i class="nav-link-icon fa fa-fw"></i>-->
                <!--             <span>Internal Reporting</span>-->
                <!--            </a>-->
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="mb-0 table table-striped table-hover" id="exportheader"
                       content="{{ database.label }}_Dashboard_ {{ current_month_name}}_{{ database.reporting_year.year }}.csv"
                       data-tableName="Dashboard - {{ database.label }}-{{ current_month_name}}_{{ database.reporting_year.year }}">
                  <thead>
                  <tr>
                    <th content="Indicator Name"> Indicator Name</th>
                    <th content="Global/LCO">Global/LCO</th>
                    <th content="Result" title="Result">Results
                    </th>
                    {% for month, month_name in months %}

                    <th content="{{ month_name }}">{{ month_name }}</th>
                    {% endfor %}
                  </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>
<script src="{% static 'js/bootstrap-multiselect.min.js' %}"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<script>

  $(document).ready(function () {

    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
  };


  var id = getUrlParameter('ai_id');
  var selected_li=$('li#'+id).find('a');
  var parent = selected_li.parent();
  parent.addClass("mm-active");
  selected_li.addClass("mm-active");

  $('#filter_partners').multiselect({
    buttonWidth : '180px',
    includeSelectAllOption : true,
    nonSelectedText: 'Partners',
    nSelectedText:'selected partners',
    numberDisplayed:1,
    maxHeight: 350
  });

   $('#filter_governorates').multiselect({
    buttonWidth : '190px',
    includeSelectAllOption : true,
    nonSelectedText: 'Governorates',
    nSelectedText:'selected governorates',
    numberDisplayed:1,
     maxHeight: 350
  });

  $('#filter_month').multiselect({
      buttonWidth : '160px',
      includeSelectAllOption : true,
      nonSelectedText: 'Months',
      nSelectedText:'selected months',
      numberDisplayed:1,
       maxHeight: 350
    });

  $('#filter_section').multiselect({
    buttonWidth : '200px',
    includeSelectAllOption : true,
    nonSelectedText: 'Sections',
    nSelectedText:'selected sections',
    numberDisplayed:1,
     maxHeight: 350
  });
    $('#filter_type').multiselect({
    buttonWidth : '160px',
    includeSelectAllOption : true,
    nonSelectedText: 'Global / Local',
    numberDisplayed:1,
     maxHeight: 350
  });


  $('.expanded-all').click(function () {
    $('.expanded-all').addClass('active');
    $('.collapse-all').removeClass('active');

    $('.level1').removeClass('collapsed');
    $('.level2').removeClass('collapsed');
    $('.level3').removeClass('collapsed');
    $('.level4').removeClass('collapsed');

    $('.level1').show();
    $('.level2').show();
    $('.level3').show();
    $('.level4').show();
  });

  $('.collapse-all').click(function () {
    $('.expanded-all').removeClass('active');
    $('.collapse-all').addClass('active');

    $('.level1').addClass('collapsed');
    $('.level2').addClass('collapsed');
    $('.level3').addClass('collapsed');
    $('.level4').addClass('collapsed');

    $('.level2').hide();
    $('.level3').hide();
    $('.level4').hide();
  });

  $('.level1').dblclick(function () {
    var itemid = $(this).attr('itemid');
    var sub_items = 'tr.level2-' + itemid;
    var sub_sub_items = 'tr.level3-' + itemid;
    var sub_sub_sub_items = 'tr.level4-' + itemid;

    if ($(this).hasClass('collapsed')) {
      $(sub_items).show();
      $(this).removeClass('collapsed');
    } else {
      $(sub_items).hide();
      $(sub_items).addClass('collapsed');
      $(sub_sub_items).hide();
      $(sub_sub_sub_items).hide();
      $(this).addClass('collapsed');


    }
  });

  $('.level2').dblclick(function () {

    var itemid = $(this).attr('itemid');
    var sub_items = 'tr.level3-' + itemid;
    var sub_sub_sub_items = 'tr.level4-' + itemid;

    if ($(this).hasClass('collapsed')) {
      $(sub_items).show();
      $(this).removeClass('collapsed');
    } else {
      $(sub_items).hide();
      $(sub_sub_sub_items).hide();
      $(this).addClass('collapsed');
    }
  });
    $('.level3').dblclick(function () {
    var itemid = $(this).attr('itemid');
    var sub_items = 'tr.level4-' + itemid;
    var sub_sub_sub_items = 'tr.level4-' + itemid;

    if ($(this).hasClass('collapsed')) {
      $(sub_items).show();
      $(this).removeClass('collapsed');
    } else {
      $(sub_items).hide();
      $(sub_sub_sub_items).hide();

      $(this).addClass('collapsed');
    }
    });
  });
function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    csvFile = new Blob([csv], { type: "text/csv" });
    downloadLink = document.createElement("a");
    downloadLink.download = filename;
    downloadLink.href = window.URL.createObjectURL(csvFile);
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
    downloadLink.click();
  }

  function export_table_to_csv(html, filename) {
    var csv = [];
    $("tr:hidden,td:hidden","#exportheader").remove();
    var rows_header = document.querySelectorAll("table#exportheader thead tr");
    var rows = document.querySelectorAll("table#exportheader tbody tr");
    for (var i = 0; i < rows_header.length; i++) {
      var row = [], cols = rows_header[i].querySelectorAll("th");
      for (var j = 0; j < cols.length; j++)
        row.push($(cols[j]).attr('content'));
      csv.push(row.join(","));
    }
    for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll("td");
      for (var j = 0; j < cols.length; j++) {
        if ($(cols[j]).attr('colspan') == '2') {
          row.push('');
        }
        row.push('"' + cols[j].innerText + '"');
      }
      csv.push(row.join(","));
    }
    // Download CSV
    download_csv(csv.join("\n"), filename);
  }

  document.querySelector("#export1").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    var file_name = $("#exportheader").attr("content");
    export_table_to_csv(html, file_name);
  });


</script>

<script>
 $('#filter_month').on('change', function() {

      var partnerId=$("#filter_partners").val();
      var section_Id = $('#filter_section').val();
      var gov_Id = $('#filter_governorates').val();
      var ai_id = $('#ai_id').val();
      var month_Id = $(this).val();

      var partner_url = $("#filterForm").attr("data-partner-url");
      var gov_url = $("#filterForm").attr("data-govs-url");
      var sec_url = $("#filterForm").attr("data-sections-url");

      if ( month_Id == null ){

        $.ajax({
            url: month_url,
            data: {
            'partner_id':partnerId,
            'ai_id':ai_id,
            'section_id':section_Id,
            'gov_id':gov_Id
             },
            success: function (data) {
              $("#filter_month").html(data);
              $("#filter_month").multiselect('rebuild');
            }
        });
      }
      if (partnerId == null){
         $.ajax({
            url: partner_url,
            data: {
            'ai_id':ai_id,
            'month_id':month_Id,
            'gov_id':gov_Id,
            'sec_id':section_Id
             },
            success: function (data) {
              $("#filter_partners").html(data);
              $("#filter_partners").multiselect('rebuild');
            }
         });
      }
      if (gov_Id == null){

           $.ajax({
              url: gov_url,
              data: {
              'ai_id':ai_id,
              'month_id':month_Id,
              'partner_id':partnerId,
              'section_id':section_Id,
               },
              success: function (data) {

                $("#filter_governorates").html(data);
                $("#filter_governorates").multiselect('rebuild');
              }
           });
      }
      if (section_Id == null){

             $.ajax({
                url: sec_url,
                data: {
                'ai_id':ai_id,
                'month_id':month_Id,
                'partner_id':partnerId,
                'gov_id':gov_Id,
                 },
                success: function (data) {

                  $("#filter_section").html(data);
                  $("#filter_section").multiselect('rebuild');
                }
             });
        }
    });

    $('#filter_governorates').change(function () {

      var partnerId=$("#filter_partners").val();
      var section_Id = $('#filter_section').val();
       var month_Id = $('#filter_month').val();
      var gov_Id = $(this).val();
      var ai_id = $('#ai_id').val();

      var partner_url = $("#filterForm").attr("data-partner-url");
      var month_url = $("#filterForm").attr("data-month-url");
      var sec_url = $("#filterForm").attr("data-sections-url");
        var gov_url = $("#filterForm").attr("data-govs-url");

      if(gov_Id == null){
      $.ajax({
          url: gov_url,
          data: {
          'partner_id':partnerId,
          'ai_id':ai_id,
          'month_id':month_Id,
          'section_id':section_Id
           },
          success: function (data) {
            $("#filter_governorates").html(data);
            $("#filter_governorates").multiselect('rebuild');
          }
      });
    }
      if ( partnerId == null ){
         $.ajax({
            url: partner_url,
            data: {
            'ai_id':ai_id,
            'gov_id':gov_Id,
            'month_id':month_Id,
            'section_id':section_Id
             },
            success: function (data) {
              $("#filter_partners").html(data);
              $("#filter_partners").multiselect('rebuild');
            }
        });
      }
      if ( month_Id == null ){

        $.ajax({
            url: month_url,
            data: {
            'partner_id':partnerId,
            'ai_id':ai_id,
            'section_id':section_Id,
            'gov_id':gov_Id
             },
            success: function (data) {
              $("#filter_month").html(data);
              $("#filter_month").multiselect('rebuild');
            }
        });
      }
      if ( section_Id == null ){

        $.ajax({
            url: sec_url,
            data: {
            'partner_id':partnerId,
            'ai_id':ai_id,
            'gov_id':gov_Id,
             'month_id':month_Id
             },
            success: function (data) {
              $("#filter_section").html(data);
              $("#filter_section").multiselect('rebuild');
            }
        });
      }

    });

    $('#filter_section').change(function () {

     var partnerId=$("#filter_partners").val();
     var gov_Id = $('#filter_governorates').val();
     var month_Id = $('#filter_month').val();
     var section_Id = $(this).val();
     var ai_id = $('#ai_id').val();

      var partner_url = $("#filterForm").attr("data-partner-url");
      var gov_url = $("#filterForm").attr("data-govs-url");
      var month_url = $("#filterForm").attr("data-month-url");
       var sec_url = $("#filterForm").attr("data-sections-url");
      var ai_id = $('#ai_id').val();


       if ( section_Id == null ){

              $.ajax({
                  url: sec_url,
                  data: {
                  'partner_id':partnerId,
                  'ai_id':ai_id,
                  'gov_id':gov_Id,
                   'month_id':month_Id
                   },
                  success: function (data) {
                    $("#filter_section").html(data);
                    $("#filter_section").multiselect('rebuild');
                  }
              });
            }
       if ( partnerId == null ){
         $.ajax({
            url: partner_url,
            data: {
            'ai_id':ai_id,
            'gov_id':gov_Id,
            'month_id':month_Id,
            'section_id':section_Id
             },
            success: function (data) {
              $("#filter_partners").html(data);
              $("#filter_partners").multiselect('rebuild');
            }
        });
      }
       if(gov_Id == null){
        $.ajax({
            url: gov_url,
            data: {
            'partner_id':partnerId,
            'ai_id':ai_id,
            'month_id':month_Id,
            'section_id':section_Id

             },
            success: function (data) {
              $("#filter_governorates").html(data);
              $("#filter_governorates").multiselect('rebuild');
            }
        });
      }
      if ( month_Id == null ){

        $.ajax({
            url: month_url,
            data: {
            'partner_id':partnerId,
            'ai_id':ai_id,
            'section_id':section_Id,
            'gov_id':gov_Id
             },
            success: function (data) {
              $("#filter_month").html(data);
              $("#filter_month").multiselect('rebuild');
            }
        });
      }

    });
    $("#filter_partners").change(function () {

    var partnerId = $(this).val();
    var ai_id = $('#ai_id').val();

    var month_Id = $('#filter_month').val();
    var gov_Id = $('#filter_governorates').val();
    var section_Id= $('#filter_section').val();

    var url = $("#filterForm").attr("data-sections-url");
    var gov_url = $("#filterForm").attr("data-govs-url");
    var month_url = $("#filterForm").attr("data-month-url");
    var partner_url = $("#filterForm").attr("data-partner-url");

    if ( partnerId == null ){
     $.ajax({
            url: partner_url,
            data: {
            'ai_id':ai_id,
            'gov_id':gov_Id,
            'section_id':section_Id,
            'month_id':month_Id
          },
            success: function (data) {
              $("#filter_partners").html(data);
              $("#filter_partners").multiselect('rebuild');
            }
      });

    }

    if(section_Id == null){
      $.ajax({
        url: url,
        data: {
          'partner_id':partnerId,
          'ai_id':ai_id,
          'month_id':month_Id,
          'gov_id':gov_Id
        },
        success: function (data) {
          $("#filter_section").html(data);
          $("#filter_section").multiselect('rebuild');
        }
      });
    }
    if(gov_Id == null){
      $.ajax({
          url: gov_url,
          data: {
          'partner_id':partnerId,
          'ai_id':ai_id,
          'month_id':month_Id,
          'section_id':section_Id
           },
          success: function (data) {
            $("#filter_governorates").html(data);
            $("#filter_governorates").multiselect('rebuild');
          }
      });
    }
    if( month_Id ==  null){
      $.ajax({
          url: month_url,
          data: {
          'partner_id':partnerId,
          'ai_id':ai_id,
          'gov_id':gov_Id,
          'section_id':section_Id
           },
          success: function (data) {
            $("#filter_month").html(data);
            $("#filter_month").multiselect('rebuild');
          }
      });
    }

 });

</script>

{% endblock %}
