{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}

{% block project_title %}{% endblock %}

{% block content %}

<div class="app-main__inner">
  <div class="app-page-title">
     <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
              <i class="fa fa-fw icon-gradient bg-happy-fisher" aria-hidden="true"></i>
            </div>
            <div>  Reporting on Section's Indicators | {{ database.label }} | {{ reporting_year}}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        <div class="page-title-actions">
        </div>
     </div>
  </div>
    <div class="row">
    <div class="col-lg-12">
      <div class="main-card mb-3 card">
        <div class="card-body">
         <div class="card-header mb-3 mt-2">
             Internal Indicators
            <div class="btn-actions-pane-right">
               <a href="{% url 'activityinfo:report_internal_form' %}?rep_year={{ database.reporting_year }}&ai_id={{ database.ai_id }}&step=1" class="btn btn-outline-primary">Add Indicator </a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="mb-0 table table-striped" id="exportheader">
              <thead>
              <tr>
                <th content=""> Indicator Name</th>
                <th content="">Cumulative</th>
                {% for month, month_name in months %}
                <th content="{{ month_name }}">{{ month_name }}</th>
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {% for indicator in list_indicators %}
              <tr>
                <td class="w-150">
                  <a href="{% url 'activityinfo:report_internal_form' %}?rep_year={{ database.reporting_year }}&ai_id={{ database.ai_id }}&id={{ indicator.id }}">
                    {{ indicator.name }}
                </a>

                </td>
                  <td class="w-5">
                      {% get_indicator_cumulative_months indicator  as cumulative_value %}
                  {{ cumulative_value }}
                </td>
                {% for month, month_name in months %}
                <td class="w-5">
                  {% get_indicator_value indicator month  as value %}
                  {{ value }}
                </td>
                {% endfor %}

              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock content %}
