{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load util_tags %}
{% load static %}

{% block project_title %}Neuro-DB{% endblock %}

{% block content %}
<style>
.collapse-all.active, .expanded-all.active {
  color: #0089d2;
}
  svg {
    width: 100%;
    height: 100%;
  }
  svg .legend{
    width:100%;
    height:100%
  }

  path.slice{
    stroke-width:2px;
  }

  polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
  }
</style>

<div class="app-main__inner">
  <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div class="page-title-icon">
           <i class="fa fa-fw icon-gradient bg-malibu-beach" aria-hidden="true" title=""></i>
            </i>
          </div>
          <div style="font-weight:bold">  Disaggregations of {{ database.label }} AI Results </div>
        </div>
        <div class="page-title-actions">

        </div>
      </div>
  </div>
<!--  <div class="row mt-3">-->
<!--      <div class="tag-widget">-->
<!--        <div class="card mb-3 widget-content">-->
<!--          <div class="widget-content-outer">-->
<!--            <div class="widget-content-wrapper" style="display:block !important">-->
<!--              <div class="widget-content-left">-->
<!--                <div class="widget-heading">-->
<!--                  <i class="fa fa-info"></i> Disabilities</div>-->
<!--              </div>-->
<!--              <div class="" id="chart-1"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tag-widget">-->
<!--        <div class="card mb-3 widget-content">-->
<!--          <div class="widget-content-outer">-->
<!--            <div class="widget-content-wrapper" style="display:block !important">-->
<!--              <div class="widget-content-left">-->
<!--                <div class="widget-heading"><i class="fa fa-info"></i> Nationalities</div>-->
<!--              </div>-->
<!--              <div class="" id="chart-2"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tag-widget">-->
<!--        <div class="card mb-3 widget-content">-->
<!--          <div class="widget-content-outer">-->
<!--            <div class="widget-content-wrapper" style="display:block !important">-->
<!--              <div class="widget-content-left">-->
<!--                <div class="widget-heading"><i class="fa fa-info"></i> Gender</div>-->
<!--              </div>-->
<!--              <div class="" id="chart-3"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tag-widget">-->
<!--        <div class="card mb-3 widget-content">-->
<!--          <div class="widget-content-outer">-->
<!--            <div class="widget-content-wrapper" style="display:block !important">-->
<!--              <div class="widget-content-left">-->
<!--                <div class="widget-heading"><i class="fa fa-info"></i> Age Group</div>-->
<!--              </div>-->
<!--              <div class="" id="chart-4"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="card-title ">
          <i class="fa fa-fw icon-gradient  bg-malibu-beach" aria-hidden="true"></i>
          </i>
          Disaggregation of {{ database.label }} Dashboard - 2020
           <div class=" d-inline-block" data-intro="Download Dashboard report">
              <button type="button" tabindex="0" id="export1" style="font-size:20px;" class="mb-2 mr-2 btn btn-link" data-toggle="tooltip"
                      title="download partner dashboard">
                <i class="fa fa-download"></i></button>
            </div>
        </div>

        <div class="table-responsive" style="position: relative;overflow: scroll;height: 600px; max-width:1500px">
          <table class="mb-0 table table-striped table-hover" id="exportheader"
                 content="Disaggregation Dashboard of {{ database.label }}_{{ current_month_name }}_{{ database.reporting_year.name }}.csv"
                 data-tableName="Dashboard - {{ database.label }} - 2020">
            <thead>
            <tr>
              <th colspan="6">
                Indicator Information
              </th>
              {% if tags_gender %}
              <th colspan="{{ tags_gender_number }}">Gender</th>
              {% endif %}
              {% if tags_nationality %}
              <th colspan="{{ tags_nationality_number }}">Nationalities</th>
              {% endif %}
              {% if tags_age %}
              <th colspan="{{ tags_age_number }}">Age Groups</th>
              {% endif %}
              {% if tags_disability %}
              <th colspan="{{ tags_disability_number }}">Disabilities</th>
              {% endif %}
            </tr>
            <tr>
              <th class="w-150" content="ActivityInfo Indicators">Indicator Name</th>
              <th class="w-10" content="RWP">RWP Code</th>
              <th class="w-10" content="Target" >Target</th>
              <th class="w-10" content="Cumulative Results of All Months" data-toggle="tooltip" data-placement="top"
                  title="Cumulative Results of All Months">
                Cumulative Results <i class="fa fa-question-circle-o"></i>
              </th>
              <th class="w-10" content="Total Percentage achieved of all months" data-toggle="tooltip"
                  data-placement="top" title="Total Percentage achieved of all months">
                Percentage Achieved <i class="fa fa-question-circle-o"></i>
              </th>
              <th class="w-10" content="Status">Status</th>
              {% for tag in tags_gender %}
              <th content="{{ tag.tag_gender__label }}">{{ tag.tag_gender__label }}</th>
              {% endfor %}

              {% for tag in tags_nationality %}
              <th class="w-10" content="{{ tag.tag_nationality__label }}">{{ tag.tag_nationality__label }}</th>
              {% endfor %}

              {% for tag in tags_age %}
              <th class="w-10" content="{{ tag.tag_age__label }}">{{ tag.tag_age__label }}</th>
              {% endfor %}

              {% for tag in tags_disability %}
              <th class="w-10" content="{{ tag.tag_disability__label }}">{{ tag.tag_disability__label }}</th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in master_indicators %}
            {% get_indicator_cumulative item month selected_partners selected_governorate as cumulative_value %}

            <tr class="level1" itemid="{{ item.id }}">
              <td class="w-150">{{ item.name }}</td>
              <td class="w-10">{{ item.awp_code }}</td>
              <td class="w-10">
                {% if item.measurement_type == 'percentage' %}
                {{ item.target }}%
                {% else %}
                {{ item.target|number_format }}
                {% endif %}
              </td>
              <td class="w-10">
                {{ cumulative_value }}
              </td>
              <td class="w-10">
                {% get_indicator_achieved item month selected_partners selected_governorate as achieved %}
                {{ achieved }}%
              </td>
              <td class="w-10">
                <div class='badge {{ item.status_color }}'>{{ item.status }}</div>
              </td>

              {% for tag in tags_gender %}
              <td class="w-10">
                {% get_indicator_tag_value item tag.tag_gender__name as value %}
                {{ value|percentage_float:item.cumulative_values.months }}{% if value != "0" %}%{% endif %}
              </td>
              {% endfor %}

              {% for tag in tags_nationality %}
              <td class="w-10">
                {% get_indicator_tag_value item tag.tag_nationality__name as value %}
                {{ value|percentage_float:item.cumulative_values.months }}{% if value != "0" %}%{% endif %}
              </td>
              {% endfor %}

              {% for tag in tags_age %}
              <td class="w-10">
                {% get_indicator_tag_value item tag.tag_age__name as value %}
                {{ value|percentage_float:item.cumulative_values.months }}{% if value != "0" %}%{% endif %}
              </td>
              {% endfor %}

              {% for tag in tags_disability %}
              <td class="w-10">
                {% get_indicator_tag_value item tag.tag_disability__name as value %}
                {{ value|percentage_float:item.cumulative_values.months }}{% if value != "0" %}%{% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  {% endblock content %}

{% block extra_js %}
  <script src="{% static 'vendors/jquery-quicksearch/jquery.quicksearch.js' %}"></script>
  <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>

  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="{% static 'js/d3.chart.js' %}"></script>

  <script>


var range = ["#31B6FD", "#F5C040", "#A5D027", "#5BCF78", "#4584D3"];

// Disabilities
var data1 = '{{ disability_values|safe }}';
data1 = JSON.parse(data1);
var domain1 = '{{ disability_keys|safe }}';
domain1 = JSON.parse(domain1)
d3ChartPie(data1, '#chart-1', domain1, range, 180, 125);

// Nationalities
var data2 = '{{ nationality_values|safe }}';
data2 = JSON.parse(data2);
var domain2 = '{{ nationality_keys|safe }}';
domain2 = JSON.parse(domain2)
d3ChartPie(data2, '#chart-2', domain2, range, 200, 125);

// Gender
var data3 = '{{ gender_values|safe }}';
data3 = JSON.parse(data3);
var domain3 = '{{ gender_keys|safe }}';
domain3 = JSON.parse(domain3)
d3ChartPie(data3, '#chart-3', domain3, range, 200, 125);

// Age
var data4 = '{{ age_values|safe }}';
data4 = JSON.parse(data4);
var domain4 = '{{ age_keys|safe }}';
domain4 = JSON.parse(domain4)
d3ChartPie(data4, '#chart-4', domain4, range, 200, 125);

  </script>
  <script>
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
};
  $(document).ready(function () {

    var id = getUrlParameter('ai_id');
    var selected_li=$('li#'+id).find('a');
    var parent = selected_li.parent();
    parent.addClass("mm-active");
    selected_li.addClass("mm-active");
    });

function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename) {
	var csv = [];
	 $("tr:hidden,td:hidden","#exportheader").remove();
	var rows_header = document.querySelectorAll("table#exportheader thead tr");
	var rows = document.querySelectorAll("table#exportheader tbody tr");

    for (var i = 0; i < rows_header.length; i++) {
		var row = [], cols = rows_header[i].querySelectorAll("th");

        for (var j = 0; j < cols.length; j++)
            row.push($(cols[j]).attr('content'));

    csv.push(row.join(","));
	}

  for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++) {
            if($(cols[j]).attr('colspan') == '2') {
              row.push('');
            }
            row.push('"'+cols[j].innerText+'"');
        }

		csv.push(row.join(","));
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.querySelector("#export1").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
    var file_name = $("#exportheader").attr("content");
	  export_table_to_csv(html, file_name);
});

$('input#search-input').quicksearch('table#exportheader tbody tr', {
	'delay': 300,
	'selector': 'td',
	'stripeRows': ['odd', 'even'],
	'loader': 'span.loading',
	'bind': 'keyup click input',
	<!--'show': function () {-->
		<!--this.style.color = '';-->
	<!--},-->
	<!--'hide': function () {-->
		<!--this.style.color = '#ccc';-->
	<!--},-->
	'prepareQuery': function (val) {
		return new RegExp(val, "i");
	},
	'testQuery': function (query, txt, _row) {
		return query.test(txt);
	}
});


  </script>
{% endblock %}
